/* stylelint-disable custom-property-empty-line-before */
/* stylelint-disable keyframes-name-pattern */
@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mixin;
@use '../abstracts/typography' as *;
@use '../abstracts/z_index' as *;

@use '../vendors/bootstrap' as bs;

@keyframes price-badge__price-text__wobble-effect {
    0% {
        transform: rotate(-21deg) rotate(-8deg);
    }

    50% {
        transform: rotate(-21deg) rotate(8deg);
    }

    100% {
        transform: rotate(-21deg) rotate(-8deg);
    }
}

@keyframes price-badge__price-svg__rotate-anti-clockwise-effect {
    to {
        transform: rotate(-360deg);
    }
}

@keyframes price-badge__price-svg__scale-effect {
    from {
        transform: scale(0.875);
    }

    to {
        transform: scale(1.125);
    }
}

@keyframes price-badge__ball__orbital-motion-effect {
    to {
        transform: translateX(-50%) rotate(calc(var(--ball__current-angle) + 360deg));
    }
}

@keyframes price-badge__ball__gravity-effect {
    from {
        transform: translateY(calc(1 * var(--ball__distance-from-center__min-delta)));
    }

    to {
        transform: translateY(calc(-1 * var(--ball__distance-from-center__max-delta)));
    }
}

@keyframes price-badge__ball__gravitational-tidal-capture-effect {
    to {
        transform: rotate(calc(var(--ball__current-rotation-compensation-angle) - 360deg));
    }
}

.my-price-badge {
    --ball__size: #{mixin.fluid(84px, 225px)};
    --ball__distance-from-center: calc(0.888 * var(--ball__size));
    --ball__angle-between-balls: 72deg;

    // * for gravity effect
    --ball__distance-from-center__min-delta: calc(0.2 * var(--ball__size));
    --ball__distance-from-center__max-delta: calc(0.133 * var(--ball__size));

    --animation-duration: 7s;

    position: relative;
    display: flex;

    align-items: center;
    justify-content: center;

    height: calc(2 * (var(--ball__size) + var(--ball__distance-from-center)));
    width: 100%;

    // ! компенсация scale анимации (расстояния от центра до шаров)
    margin: var(--ball__distance-from-center__max-delta) 0;

    &__price-container {
        z-index: z('higher');
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        aspect-ratio: 1 / 1;
        width: var(--ball__size);
    }

    &__price-svg-wrapper {
        will-change: transform;

        z-index: z('lower');
        position: absolute;
        inset: 0;

        width: 100%;
        height: 100%;

        transform-origin: center;
        // transform: scale(1);

        // * alternate | проигрывание: сначала вперед - потом назад
        animation: price-badge__price-svg__scale-effect calc(0.6 * var(--animation-duration))
            ease-in-out infinite alternate;
    }

    &__price-svg {
        @include mixin.transition-for(color);
        will-change: transform;

        position: absolute;
        inset: 0;

        width: 100%;
        height: 100%;

        color: var(--color__pricing__price-badge-background);

        transform-origin: center;
        animation: price-badge__price-svg__rotate-anti-clockwise-effect var(--animation-duration)
            infinite linear;
    }

    &__price-text {
        @extend %text__price-badge;
        will-change: transform;

        display: inline-flex;

        align-items: center;
        justify-content: center;

        aspect-ratio: 1 / 1;
        max-width: 4em;

        transform-origin: center;
        transform: rotate(-21deg);

        animation: price-badge__price-text__wobble-effect var(--animation-duration) infinite;
    }

    &__ball-rotate-wrapper {
        will-change: transform;

        z-index: z('default');
        position: absolute;

        container-type: inline-size;

        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: flex-start;

        top: 0;
        left: 50%;

        transform-origin: center bottom;
        transform: translateX(-50%) rotate(var(--ball__current-angle, 0deg));

        // * ball size
        width: var(--ball__size);

        // * ball distance from center
        height: calc(var(--ball__distance-from-center) + var(--ball__size));

        animation: price-badge__ball__orbital-motion-effect var(--animation-duration) infinite
            linear;

        &--ball-green {
            --ball__current-angle: calc(0 * var(--ball__angle-between-balls));
        }

        &--ball-yellow {
            --ball__current-angle: calc(1 * var(--ball__angle-between-balls));
        }

        &--ball-white {
            --ball__current-angle: calc(2 * var(--ball__angle-between-balls));
        }

        &--ball-grey {
            --ball__current-angle: calc(3 * var(--ball__angle-between-balls));
        }

        &--ball-red {
            --ball__current-angle: calc(4 * var(--ball__angle-between-balls));
        }
    }

    &__ball-translate-wrapper {
        will-change: transform;

        transform-origin: center;
        animation: price-badge__ball__gravity-effect calc(0.15 * var(--animation-duration)) infinite
            ease-in-out alternate;
    }

    &__ball-picture {
        will-change: transform;

        transform-origin: center;
        transform: rotate(var(--ball__current-rotation-compensation-angle, 0deg));

        animation: price-badge__ball__gravitational-tidal-capture-effect var(--animation-duration)
            infinite linear;

        &--ball-green {
            --ball__current-rotation-compensation-angle: calc(
                -0 * var(--ball__angle-between-balls)
            );
        }

        &--ball-yellow {
            --ball__current-rotation-compensation-angle: calc(
                -1 * var(--ball__angle-between-balls)
            );
        }

        &--ball-white {
            --ball__current-rotation-compensation-angle: calc(
                -2 * var(--ball__angle-between-balls)
            );
        }

        &--ball-grey {
            --ball__current-rotation-compensation-angle: calc(
                -3 * var(--ball__angle-between-balls)
            );
        }

        &--ball-red {
            --ball__current-rotation-compensation-angle: calc(
                -4 * var(--ball__angle-between-balls)
            );
        }
    }

    &__ball-img {
        aspect-ratio: 1 / 1;
        width: 100%;
        height: auto;

        border: 0;
        border-radius: 50%;

        filter: drop-shadow(1.75cqw 1.75cqw 1.15cqw var(--color__balls_group__shadow));
        transition: filter 300ms ease-out;

        // @media (pointer: fine) {
        //     will-change: transform;

        //     transition:
        //         transform 300ms cubic-bezier(0.6, 0, 0.25, 3.5),
        //         filter 300ms ease-out;

        //     &:hover {
        //         transform: scale(var.$abstract__global__scale--hover * 1.075);
        //     }

        //     &:active {
        //         transform: scale(var.$abstract__global__scale--active / 1.075);
        //     }
        // }
    }

    // ! --- STATE MODIFIER | ACHTUNG !!! | START
    // ! ----------------------------------------
    &--is-paused {
        .my-price-badge__price-svg-wrapper,
        .my-price-badge__price-svg,
        .my-price-badge__price-text,
        .my-price-badge__ball-rotate-wrapper,
        .my-price-badge__ball-translate-wrapper,
        .my-price-badge__ball-picture {
            will-change: auto !important;
            animation-play-state: paused !important;
        }
    }
    // ! --- STATE MODIFIER | ACHTUNG !!! | END
    // ! --------------------------------------

    @include bs.media-breakpoint-down(xs) {
        --ball__size: 22.5vw;
    }
}
