<!-- ! d-none by default --->
<aside
    id="my-cookie-consent-banner"
    class="d-none my-cookie-consent-banner"
    aria-labelledby="cookie-consent-banner-title"
    role="region"
    aria-live="polite">
    <div class="my-cookie-consent-banner__text-container">
        <h2 id="cookie-consent-banner-title" class="my-cookie-consent-banner__title">
            <svg class="my-cookie-consent-banner__title-svg" width="16" height="16" aria-hidden="true">
                <use href="@icons/other/cookie.svg"></use>
            </svg>
            {{ common.cookie_consent_banner.title }}
        </h2>

        <p class="my-cookie-consent-banner__paragraph">
            {{ common.cookie_consent_banner.paragraph.text }}
            <br />
            <a
                class="my-cookie-consent-banner__link"
                href="@page/privacy.njk#cookie-policy"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="{{ common.cookie_consent_banner.paragraph.link.a11y__aria_label }}">
                {{ common.cookie_consent_banner.paragraph.link.text }}
            </a>
        </p>
    </div>

    <div class="my-cookie-consent-banner__buttons-container">
        <button
            id="cookie-decline-btn"
            class="my-default-button my-default-button--cookie-consent-banner"
            data-action="decline"
            type="button">
            {{ common.cookie_consent_banner.buttons.decline }}
        </button>
        <button
            id="cookie-accept-btn"
            class="my-default-button my-default-button--cookie-consent-banner"
            data-action="accept"
            type="button">
            {{ common.cookie_consent_banner.buttons.accept }}
        </button>
    </div>
</aside>
