{% set my_price_badge__balls = my_balls | default(["green", "yellow", "white", "grey", "red"]) %}

<div class="my-price-badge" aria-hidden="true">
    <div class="my-price-badge__price-container">
        <div class="my-price-badge__price-svg-wrapper">
            <svg id="My-Sale-Svg-Icon" class="my-price-badge__price-svg" width="328" height="328" aria-hidden="true">
                <use href="@icons/pricing/promo.svg"></use>
            </svg>
        </div>
        <span class="my-price-badge__price-text">
            {% if is_django_build %}
                {% raw %}
                    {{ site_config.price|floatformat:0 }}
                {% endraw %}
                {{ index.pricing.current_price.suffix }}
            {% else %}
                {{ index.pricing.current_price.price }}{{ index.pricing.current_price.suffix }}
            {% endif %}
        </span>
    </div>

    {% for ball in my_price_badge__balls %}
        <div class="my-price-badge__ball-rotate-wrapper my-price-badge__ball-rotate-wrapper--ball-{{ ball }}">
            <div class="my-price-badge__ball-translate-wrapper">
                <img
                    data-my-picture-class="my-price-badge__ball-picture my-price-badge__ball-picture--ball-{{ ball }}"
                    class="my-price-badge__ball-img"
                    src="@images/balls/{{ ball }}.png"
                    alt="" />
            </div>
        </div>
    {% endfor %}
</div>
