<footer id="footer" class="my-footer">
    <div class="my-footer__decorative-square my-footer__decorative-square--left" aria-hidden="true"></div>
    <div class="my-footer__decorative-square my-footer__decorative-square--right" aria-hidden="true"></div>

    <div class="container my-wrapper my-footer__content">
        <div class="my-footer__information-container">
            <div class="my-footer__logo-wrapper">
                <a
                    class="my-logo my-logo--footer"
                    href="{{- '#back-to-top' if current_page__page_name == 'index' else '@page/index.njk' -}}"
                    aria-label="{{ common.logo.a11y__aria_label }}">
                    <svg class="my-logo__svg" width="134" height="134" aria-hidden="true">
                        <use href="@icons/logo/logo.svg"></use>
                    </svg>
                    <div class="my-logo__company-name-and-motto-container">
                        <span class="my-logo__company-name">{{ common.logo.company_name }}</span>
                        <span class="my-logo__motto">{{ common.logo.motto }}</span>
                    </div>
                </a>
            </div>

            <nav class="my-footer__navigation" aria-label="{{ footer.navigation.a11y.aria_label }}">
                <h2 class="my-title my-title--footer">{{ footer.navigation.title }}</h2>

                <ul class="my-nav-menu my-nav-menu--footer" role="list">
                    {% for id, text in common.navigation.links %}
                        <li class="my-nav-menu__item">
                            <a
                                class="my-nav-menu__link"
                                {% if current_page_name == 'index' %}href="#{{ id | replace('_', '-') }}"{% else %}href="@page/index.njk#{{ id | replace('_', '-') }}"{% endif %}>
                                {{ text }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>

            <div class="my-footer__legal">
                <h2 class="my-title my-title--footer">{{ common.website_domain }}</h2>

                <ul class="my-nav-menu my-nav-menu--footer" aria-label="{{ footer.legal.a11y__aria_label }}" role="list">
                    <li class="my-nav-menu__item my-nav-menu__item--cookie-settings-btn">
                        <button type="button" class="my-nav-menu__link my-nav-menu__link--cookie-settings-btn">
                            {{ footer.legal.cookie_settings }}
                        </button>
                    </li>
                    <li class="my-nav-menu__item">
                        <a class="my-nav-menu__link" href="@page/privacy.njk" target="_self">{{ footer.legal.privacy_policy }}</a>
                    </li>
                </ul>
            </div>
        </div>

        <hr class="col-12 my-separator" aria-hidden="true" />

        <div class="my-footer__copyright-container">
            <small class="my-footer__copyright-owner-text">
                <span>&copy;</span>
                <span class="d-none d-sm-inline">{{ footer.copyright.title }}</span>

                {% if IS_DJANGO_BUILD %}
                    2024-{% raw %}{% now "Y" %}{% endraw %}
                {% else %}
                    <span>
                        <script>
                            document.currentScript.parentElement.textContent = `2024-${new Date().getFullYear()}`
                        </script>

                        <!--! Затычка для .nojs --->
                        <noscript>2024-2026</noscript>
                    </span>
                {% endif %}
                <span>&nbsp;{{ footer.copyright.owner.name }}</span>

                <br class="d-block d-sm-none" />

                <span class="d-none d-sm-inline">&#x20;</span>
                <span>{{ footer.copyright.owner.license }}</span>
            </small>

            <small class="my-footer__copyright-developer-text">
                <span>{{ footer.copyright.developer.text }}</span>
                <a class="my-link my-link--copyright" href="https://github.com/aLeeTheY" target="_blank">
                    {{ footer.copyright.developer.github_nickname }}
                </a>
            </small>
        </div>
    </div>
</footer>
