# ! --- 1. Игнорируем абсолютно всё по умолчанию
# ! --------------------------------------------
*

# ! --- 2. Разрешаем наблюдать за любыми папками
# ! --------------------------------------------
!*/
!**/

# ! --- 3. Разрешаем проверять только конкретные расширения
# ! -------------------------------------------------------
# * GIT FILES
!**/*.gitkeep
!**/*.gitignore
!**/*.gitattributes

# * BASH | BAT
!**/*.sh
!**/*.bat

# * SERVICE FILES
!**/*.browserslistrc
!**/*.editorconfig
!**/*.npmrc

# * IGNORE FILES
!**/*.dockerignore
!**/*.prettierignore
!**/*.stylelintignore

# * DOCKER FILES
!**/Dockerfile*

# * PYTHON | POETRY
!**/*.py

!**/*.toml
!**/*.lock

# * CSS | SCSS | SASS
!**/*.css
!**/*.scss
!**/*.sass

# * JS | TS
!**/*.js
!**/*.cjs
!**/*.mjs
!**/*.ts
!**/*.cts
!**/*.mts

# * GULP
!gulpfile.js
!**/gulp/**/*.js

# * HTML | NUNJUCKS
!**/*.html
!**/*.nj
!**/*.njk
!**/*.nunjucks

# * JSON | YAML
!**/*.json
!**/*.webmanifest

!**/*.yml
!**/*.yaml

# * XML | SVG
!**/*.xml
!**/*.svg

# * MEDIA
!**/*.ico
!**/*.gif

!**/*.png
!**/*.jpg
!**/*.jpeg
!**/*.avif
!**/*.webp

!**/*.mp3
!**/*.mp4
!**/*.webm

# * 3D FILES
!**/*.glb

# * FONTS
!**/*.eot
!**/*.otf
!**/*.ttf
!**/*.woff
!**/*.woff2

# * MARKDOWN | LICENSE
!**/*.md
!**/LICENSE

# * HUSKY
!**/.husky/*

# * LOCALES
!**/*.mo
!**/*.po

# * ENV TEMPLATES FILES
!**/*.template
!**/*.tmpl

# * DEPLOY FILES | NGINX | APACHE
!**/vhost.d/default
!**/*.conf

!**/*.htaccess

# * OTHER
!**/*.txt

# * MAPS
# !**/*.map

# ! --- 4. Папки и подпапки под запретом
# ! ------------------------------------
**/staticfiles/

# * DYNAMICALLY POPULATED BUILD FOLDERS (KEEP ONLY .gitkeep)
src/backend/apps/MainApp/static/MainApp/**
!src/backend/apps/MainApp/static/MainApp/.gitkeep

src/backend/apps/MainApp/templates/MainApp/**
!src/backend/apps/MainApp/templates/MainApp/.gitkeep

src/backend/apps/MainApp/templates/meta/**
!src/backend/apps/MainApp/templates/meta/.gitkeep

# * PYTHON VIRTUAL ENVS & CACHE
**/__pycache__/
**/.venv/
**/venv/
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/.coverage/
**/htmlcov/
**/*.egg-info/

**/.husky/_/

**/node_modules/
# **/vendors/

**/out/
**/dist/
**/build/
**/public/

**/archive/

**/backup/
**/old/

**/debug__critical_css__screenshots/

# ! --- 5. Файлы под запретом
# ! -------------------------
out.txt

# * PYTHON / DJANGO TEMP & DB FILES
*.sqlite3
*.db3
*.pyc
*.pyo
*.pyd

# * ENV FILES
*.env.dev

*.env.staging
*.env.staging.db
*.env.staging.proxy-companion

*.env.prod
*.env.prod.db
*.env.prod.proxy-companion

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
