/* stylelint-disable custom-property-empty-line-before */
@use '../abstracts/mixins' as mixin;
@use '../abstracts/typography' as *;
@use '../abstracts/z_index' as *;

@use '../vendors/bootstrap' as bs;

.my-custom-feedback-form {
    --my-feedback-form__field__outer-padding: 3px;
    --my-feedback-form__field__squircle-smooth: var(--layout__button__squircle-smooth);
    --my-feedback-form__field__radius-value: var(--layout__button__radius-value);

    --my-feedback-form__field__outer-element__radius: var(--my-feedback-form__field__radius-value);
    --my-feedback-form__field__outer-element__radius--squircle: var(
        --my-feedback-form__field__radius-value
    );

    --my-feedback-form__inner-element__radius: calc(
        var(--my-feedback-form__field__outer-element__radius) - var(
                --my-feedback-form__field__outer-padding
            )
    );
    --my-feedback-form__inner-element__radius--squircle: var(
        --my-feedback-form__field__outer-element__radius--squircle
    );

    &__content {
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: stretch;

        row-gap: calc(0.5 * var(--layout__global__spacing));
    }

    &__field-wrapper {
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;
    }

    &__text-field {
        @include mixin.transition-for(background-color);
        position: relative;

        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;

        padding: var(--my-feedback-form__field__outer-padding);

        outline: none;
        background: transparent;

        // * все дочерние элементы наверх
        & > * {
            position: relative;
            z-index: 0;
        }

        // * обводка (fallback) для .houdini-squircle-ready
        &::before {
            content: '';

            position: absolute;
            inset: 0;

            background: transparent;
            border-radius: var(--my-feedback-form__field__outer-element__radius);

            @include mixin.focus-styles;

            opacity: 0;
            z-index: -1;
        }

        // * button background (default & squircle)
        &::after {
            content: '';

            position: absolute;
            inset: 0;

            background-color: var(--color__global__primary);
            border-radius: var(--my-feedback-form__field__outer-element__radius);

            z-index: -2;
        }

        // ? если есть фокус на кнопке (<button>) или дочерней ссылке (<a>), ::before делаем видимым
        .nojs &,
        .user-is-tabbing & {
            &:focus-within::before {
                opacity: 1;
            }
        }

        .houdini-squircle-ready & {
            &::before {
                border-radius: 0;
                outline-offset: 1px;
            }

            &::after {
                border-radius: 0;

                --squircle-smooth: var(--my-feedback-form__field__squircle-smooth);
                --squircle-radius: var(--my-feedback-form__field__outer-element__radius--squircle);

                mask-image: paint(squircle);
            }
        }

        @include mixin.state-with-has('hover', '.my-custom-feedback-form__input-element') {
            &::after {
                background-color: var(--color__global__primary--hover);
            }
        }

        @include mixin.state-with-has('active', '.my-custom-feedback-form__input-element') {
            &::after {
                background-color: var(--color__global__primary--active);
            }
        }

        // @include mixin.state-with-has('disabled', '.my-custom-feedback-form__input-element') {
        //     &::after {
        //         background-color: var(--color__global__primary--disabled);
        //     }

        //     cursor: not-allowed;
        // }

        // background-color: var(--color__global__primary);

        // border: none;
        // border-radius: var(--my-feedback-form__field__outer-element__radius);

        // .houdini-squircle-ready & {
        //     border-radius: 0;

        //     --squircle-smooth: var(--my-feedback-form__field__squircle-smooth);
        //     --squircle-radius: var(--my-feedback-form__field__outer-element__radius--squircle);

        //     /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
        //     mask-image: paint(squircle);
        // }

        // &:focus-within {
        //     @include mixin.focus-styles;
        // }

        // @include mixin.hover {
        //     background-color: var(--color__global__primary--hover);
        // }

        // @include mixin.active {
        //     background-color: var(--color__global__primary--active);
        // }

        &:has(.my-custom-feedback-form__input-element:disabled),
        &:has(.my-custom-feedback-form__input-element[disabled]) {
            &::after {
                background-color: var(--color__global__primary--disabled);
            }

            cursor: not-allowed;
        }

        // &--error {
        //     background-color: var(--color__global__error);

        //     &:focus {
        //         background-color: var(--color__global__error--focus);
        //     }

        //     &:hover {
        //         background-color: var(--color__global__error--hover);
        //     }

        //     &:active {
        //         background-color: var(--color__global__error--active);
        //     }

        //     &:has(:disabled),
        //     &:has([disabled]) {
        //         background-color: var(--color__global__error--disabled);
        //         cursor: not-allowed;
        //     }

        // }

        // @include bs.media-breakpoint-down(xxl) {
        //     padding: 0.222rem;
        // }

        // @include bs.media-breakpoint-down(lg) {
        //     padding: 0.1875rem;

        //     border-radius: 1.05rem;

        //     --squircle-smooth: 0.78;
        //     --squircle-radius: 0.625rem;

        //     mask-image: paint(squircle);
        // }

        // @include bs.media-breakpoint-down(md) {
        //     padding: 0.2rem;

        //     border-radius: 0.95rem;

        //     --squircle-smooth: 0.78;
        //     --squircle-radius: 0.37rem;

        //     mask-image: paint(squircle);
        // }

        // @include bs.media-breakpoint-down(sm) {
        //     padding: 0.16rem;

        //     border-radius: 1.15rem;
        //     // border-radius: 0;

        //     --squircle-smooth: 0;
        //     --squircle-radius: 0;

        //     mask-image: none;
        // }
    }

    &__checkbox-field {
        display: grid;
        grid-template-columns: auto min-content;
        place-items: center center;

        align-items: center;
        justify-content: center;
    }

    &__checkbox-input-wrapper {
        @include mixin.transition-for(background-color, border-color);

        flex: 0 0 auto;
        position: relative;

        aspect-ratio: 1 / 1;
        height: clamp(36px, 0.0037 * 100vw + 34.8148px, 40px);

        background-color: var(--color__feedback-form__field-background);

        border: 3px solid var(--color__global__primary);
        border-radius: 50%;

        .nojs &,
        .user-is-tabbing & {
            &:focus-within {
                @include mixin.focus-styles;
            }
        }

        &:has([type='checkbox']:checked) {
            // transition: background-color 150ms ease-out;
            background-color: var(--color__global__primary);
        }

        &:has([type='checkbox']:disabled),
        &:has([type='checkbox'][disabled]) {
            background-color: var(--color__feedback-form__field-background--disabled);
            border-color: var(--color__global__primary--disabled);
        }
    }

    &__checkbox-svg {
        // will-change: transform, opacity;

        z-index: z('default');
        position: absolute;

        aspect-ratio: 1 / 1;
        width: 87%;

        color: var(--color__global__text--alt--solid);

        top: 50%;
        left: 50%;

        transform: translate(-50%, -45%) scale(0.2) rotate(-30deg);
        opacity: 0;

        transition:
            transform 300ms cubic-bezier(0, -1.5, 0.33, 2.15),
            // opacity 100ms linear,
            color 300ms ease-in-out;

        .my-custom-feedback-form__checkbox-field:has([type='checkbox']:checked) & {
            transform: translate(-50%, -45%) scale(1) rotate(0deg);
            opacity: 1;
        }

        // .my-custom-feedback-form__checkbox-field:has(:disabled) &,
        // .my-custom-feedback-form__checkbox-field:has([disabled]) & {
        //     pointer-events: none;
        // }
    }

    &__checkbox-label {
        @extend %text__form__checkbox-label;

        // margin-left: var(--typography__global__small__margin-bottom);
        margin-left: calc(0.5 * var(--layout__global__spacing));

        cursor: pointer;

        & > small {
            text-wrap-mode: nowrap;

            @include bs.media-breakpoint-down(xxl) {
                text-wrap-mode: wrap;
            }

            @include bs.media-breakpoint-down(md) {
                text-wrap-mode: nowrap;
            }

            @include bs.media-breakpoint-down(sm) {
                text-wrap-mode: wrap;
            }
        }

        .my-custom-feedback-form__checkbox-field:has(:disabled) &,
        .my-custom-feedback-form__checkbox-field:has([disabled]) & {
            color: var(--color__global__text--disabled);
            cursor: not-allowed;
        }
    }

    &__checkbox-link {
        @extend %text__form__checkbox-label__link;
        text-wrap-mode: nowrap;

        @include mixin.hover {
            color: var(--color__global__text--primary--hover);
            text-decoration: underline;
        }

        @include mixin.active {
            color: var(--color__global__text--primary--active);
            text-decoration: underline;
        }

        .my-custom-feedback-form__checkbox-field:has(:disabled) &,
        .my-custom-feedback-form__checkbox-field:has([disabled]) & {
            color: var(--color__global__text--primary--disabled);
            // text-decoration: none;

            // ! dont work with pointer-events: none
            // cursor: not-allowed;

            pointer-events: none;
        }
    }

    &__input-element {
        @extend %text__form__input;
        // @include mixin.transition-for(caret-color);

        text-box: normal;

        caret-color: var(--color__global__text--primary--solid);
        caret-animation: auto;
        caret-shape: bar;

        outline: none;

        /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
        // &:focus,
        // &:focus-visible {
        //     outline: none;
        // }

        &[type='text'],
        &[type='tel'] {
            @include mixin.transition-for(color, background-color);

            flex-grow: 1;
            display: flex;

            align-items: baseline;
            justify-content: flex-start;

            width: 100%;

            // height: 3.555em;
            // padding: 0 1.25em;
            padding: 1.025em 1.25em;

            border: none;
            border-radius: var(--my-feedback-form__inner-element__radius);

            .houdini-squircle-ready & {
                border-radius: 0;

                --squircle-smooth: var(--my-feedback-form__field__squircle-smooth);
                --squircle-radius: var(--my-feedback-form__inner-element__radius--squircle);

                /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
                mask-image: paint(squircle);
                // -webkit-mask-image: paint(squircle);
            }

            background-color: var(--color__feedback-form__field-background);
            // color: var(--color__global__text);

            // font-family: 'Montserrat', sans-serif;
            // font-optical-sizing: auto;
            // font-style: normal;
            // font-weight: 600;
            // font-size: inherit;

            // prettier-ignore
            // font-size: 16PX;

            // line-height: 1.5em;

            // letter-spacing: 0.14em;
            // letter-spacing: 0.1em;

            &::placeholder {
                @include mixin.transition-for(color);
                color: var(--color__global__text--hint);
            }

            &:disabled,
            &[disabled] {
                background-color: var(--color__feedback-form__field-background--disabled);
                color: var(--color__global__text--disabled);

                cursor: not-allowed;

                &::placeholder {
                    color: var(--color__global__text--disabled);
                }
            }

            // @include bs.media-breakpoint-down(lg) {
            //     padding: 0.625rem 0.875rem;

            //     // border-radius: 0.625rem;
            //     border-radius: 0.85rem;

            //     --squircle-smooth: 0.78;
            //     --squircle-radius: 0.625rem;

            //     mask-image: paint(squircle);
            //     mask-image: none;
            // }

            // @include bs.media-breakpoint-down(md) {
            //     padding: 0.525rem 0.575rem;

            //     // border-radius: 0.15rem;
            //     border-radius: 0.75rem;

            //     --squircle-smooth: 0.78;
            //     --squircle-radius: 0.15rem;

            //     mask-image: paint(squircle);
            // }

            // @include bs.media-breakpoint-down(sm) {
            //     font-size: 1rem;

            //     padding: 0.9rem 1rem;

            //     border-radius: 1.025rem;
            //     // border-radius: 0;

            //     --squircle-smooth: 0;
            //     --squircle-radius: 0;

            //     mask-image: none;
            // }
        }

        &[type='checkbox'] {
            z-index: z('higher');
            position: absolute;

            width: 100%;
            height: 100%;

            background-color: transparent;

            appearance: none;
            cursor: pointer;

            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%);

            &:disabled,
            &[disabled] {
                cursor: not-allowed;
            }
        }
    }

    &__submit-button {
        // margin-top: 1.333em;
        margin-top: var(--typography__global__base__form__margin-bottom);

        // @include bs.media-breakpoint-down(xs) {
        //     margin-top: 1em;
        // }
    }

    &__error-wrapper {
        @extend %text__form__error-message;

        display: flex;
        flex-wrap: nowrap;

        align-items: flex-start;
        justify-content: flex-start;

        column-gap: 10px;
        padding: 0 18px;

        width: 100%;
        height: auto;

        // color: var(--color__global__text--error);

        .my-form__field-wrapper:has(:disabled) &,
        .my-form__field-wrapper:has([disabled]) & {
            color: var(--color__global__text--error--disabled);
        }
    }

    &__error-svg {
        flex: 0 0 auto;

        aspect-ratio: 1 / 1;
        width: 1.75em;
    }

    &__error-text {
        flex: 1 1 0;
    }
}
