/* stylelint-disable selector-id-pattern */
/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable custom-property-empty-line-before */
@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mixin;
@use '../abstracts/typography' as *;
@use '../abstracts/z_index' as *;

@use '../vendors/bootstrap' as bs;

@property --gradient-angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

@keyframes gradient-image__colored-border__spin-effect {
    to {
        // умножаем 360 градусов на направление (1 или -1)
        --gradient-angle: calc(360deg * var(--spin-dir, 1));
    }
}

.my-gradient-image {
    z-index: z('default');
    position: relative;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: flex-start;

    // --my-scale: 1;

    // // ! fallback | if vanilla tilt dont work (js not support) | hover only non-touch screens
    // .nojs & {
    //     @include mixin.hover {
    //         --my-scale: 1.025;
    //     }
    // }

    // // ! work always | JS and non-JS | touch + non-touch screens
    // .js &,
    // .nojs & {
    //     @include mixin.active {
    //         --my-scale: 0.975;
    //     }
    // }

    &__link-wrapper {
        z-index: z('default');
        position: relative;

        display: block;
    }

    &__link {
        // ! --- оптимизация для JS Tilt
        // ! ---------------------------
        will-change: transform;
        transform-style: preserve-3d;
        // ! ---------------------------

        display: block;

        &:focus-visible {
            outline: none;

            .my-gradient-image__img {
                @include mixin.focus-styles;
            }
        }
    }

    &__img {
        @include mixin.transition-for(transform, box-shadow);
        will-change: transform;

        aspect-ratio: initial;
        width: 100%;

        object-fit: cover;

        border: 0.2em solid transparent;
        border-radius: 1.2em;

        box-shadow: 5px 5px 10px 0 var(--color__global__shadow);

        background-origin: border-box;
        background-clip: padding-box, border-box;

        // background-image:
        //     linear-gradient(white, white),
        //     conic-gradient(from var(--gradient-angle), cyan, lime, magenta, cyan);

        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4caf50+0,ffeb3b+50,f44336+100 */
        background-image:
            linear-gradient(white, white),
            conic-gradient(
                from calc(var(--start-angle, 0deg) + var(--gradient-angle)),
                var(--color__card-img__background--gradient-step-1) 0%,
                var(--color__card-img__background--gradient-step-2) 25%,
                var(--color__card-img__background--gradient-step-3) 50%,
                var(--color__card-img__background--gradient-step-2) 75%,
                var(--color__card-img__background--gradient-step-1) 100%
            );

        // transform: scale(var(--my-scale));

        // transition:
        //     transform 300ms cubic-bezier(0.03, 0.98, 0.52, 0.99),
        //     box-shadow 300ms cubic-bezier(0.03, 0.98, 0.52, 0.99);

        animation: gradient-image__colored-border__spin-effect 2s linear infinite;

        @include mixin.hover {
            transform: scale(var.$abstract__global__scale--hover);
            box-shadow: 7px 7px 14px 0 var(--color__global__shadow);
        }

        @include mixin.active {
            transform: scale(var.$abstract__global__scale--active);
            box-shadow: 3px 3px 4px 0 var(--color__global__shadow);
        }

        #My-Example-Img__Pillar-Before &,
        #My-Example-Img__Road-Before & {
            --start-angle: 0deg;
            --spin-dir: -1; // Против часовой
        }

        #My-Example-Img__Pillar-After &,
        #My-Example-Img__Road-After & {
            --start-angle: 0deg;
            --spin-dir: 1; // По часовой

            // --gradient-color-2: var(--color__card-img__background--gradient-step-3);
            // --gradient-color-3: var(--color__card-img__background--gradient-step-2);
        }

        #My-Legal-Doc__1 &,
        #My-Legal-Doc__3 &,
        #My-Legal-Doc__5 & {
            --spin-dir: -1; // Против часовой
        }

        #My-Legal-Doc__2 &,
        #My-Legal-Doc__4 &,
        #My-Legal-Doc__6 & {
            --spin-dir: 1; // По часовой
        }

        #My-Legal-Doc__1 &,
        #My-Legal-Doc__2 &,
        #My-Legal-Doc__3 & {
            --start-angle: 0deg;
        }

        #My-Legal-Doc__4 &,
        #My-Legal-Doc__5 &,
        #My-Legal-Doc__6 & {
            --start-angle: 180deg;
        }

        @include bs.media-breakpoint-down(md) {
            #My-Example-Img__Road-Before & {
                --start-angle: -180deg;
                --spin-dir: 1;
            }

            #My-Example-Img__Road-After & {
                --start-angle: 180deg;
                --spin-dir: -1;
            }

            #My-Legal-Doc__1 &,
            #My-Legal-Doc__4 &,
            #My-Legal-Doc__5 & {
                --spin-dir: -1;
            }

            #My-Legal-Doc__2 &,
            #My-Legal-Doc__3 &,
            #My-Legal-Doc__6 & {
                --spin-dir: 1;
            }

            #My-Legal-Doc__1 &,
            #My-Legal-Doc__2 &,
            #My-Legal-Doc__5 &,
            #My-Legal-Doc__6 & {
                --start-angle: 0deg;
            }

            #My-Legal-Doc__3 &,
            #My-Legal-Doc__4 & {
                --start-angle: 180deg;
            }
        }

        @include bs.media-breakpoint-down(sm) {
            min-width: mixin.fluid-with-range(180px, 250px, xxs, sm);

            #My-Legal-Doc__1 &,
            #My-Legal-Doc__3 &,
            #My-Legal-Doc__5 & {
                --spin-dir: -1;
            }

            #My-Legal-Doc__2 &,
            #My-Legal-Doc__4 &,
            #My-Legal-Doc__6 & {
                --spin-dir: 1;
            }

            #My-Legal-Doc__1 &,
            #My-Legal-Doc__2 &,
            #My-Legal-Doc__3 &,
            #My-Legal-Doc__4 &,
            #My-Legal-Doc__5 &,
            #My-Legal-Doc__6 & {
                --start-angle: 0deg;
            }
        }
    }

    &__caption {
        @extend %text__img-caption;
    }
}
