/* stylelint-disable scss/percent-placeholder-pattern */
/* stylelint-disable custom-property-empty-line-before */
/* stylelint-disable scss/dollar-variable-pattern */
@use '../../mixins' as mixin;
@use '../../../vendors/bootstrap' as bs;

@use '../base' as *;

// * --- IMAGE CAPTION
// * -----------------
%text__img-caption {
    @extend %text__base;

    font-weight: 400;
    font-size: var(--typography__global__base__font-size);

    color: var(--color__global__text);

    letter-spacing: var(--typography__global__base__letter-spacing);
    margin-right: calc(-1 * var(--typography__global__base__letter-spacing));

    text-align: center;
    text-transform: lowercase;
    hyphens: none;

    margin-top: var(--typography__global__base__margin-bottom);
}
