@use '../../../abstracts/z_index' as *;
@use '../../../vendors/bootstrap' as bs;

.my-background-bubbles {
    z-index: z('decoration');

    overflow: hidden;
    position: absolute;

    inset: 100vh 0 0;
    @supports (inset: 100svh 0 0) {
        inset: 100svh 0 0;
    }

    pointer-events: none;
    user-select: none;

    // @include bs.media-breakpoint-down(sm) {
    //     display: none;
    // }
}
