/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable custom-property-empty-line-before */
@use '../../abstracts/mixins' as mixin;
@use '../../vendors/bootstrap' as bs;

// * --- BUBBLE INFLATION EFFECT
// * ---------------------------
@keyframes bubble__outer-el__scale-effect {
    from {
        transform: translateX(var(--bubble__pos-x)) scale(1);
    }

    to {
        transform: translateX(var(--bubble__pos-x)) scale(var(--bubble__scale-factor));
    }
}

@keyframes bubble__inner-el__rotation-effect {
    from {
        transform: rotate(var(--bubble__clockwise-rotation));
    }

    to {
        transform: rotate(calc(var(--bubble__clockwise-rotation) * 360deg));
    }
}

.my-bubble {
    // display: none !important;

    --bubble__pos-x: -50%;
    --bubble__pos-y: 0;

    --bubble__clockwise-rotation: 1;
    --bubble__scale-factor: 3;

    // --bubble__animation-time: 500ms;
    --bubble__animation-time: 30s;

    will-change: transform;
    position: absolute;

    top: var(--bubble__pos-y);
    left: 50%;

    transform-origin: center center;
    transform: translateX(var(--bubble__pos-x));

    aspect-ratio: 1 / 1;
    width: 500px; // * default width | for debug

    background: transparent;
    animation: bubble__outer-el__scale-effect var(--bubble__animation-time) ease-in-out alternate
        infinite;

    pointer-events: none;
    user-select: none;

    // ! кал
    // filter: blur(1000px);

    &::before {
        // ? linear-gradient анимируется через @property самого цвета в _themes.scss
        // @include mixin.transition-for(background);

        will-change: transform;
        content: '';

        position: absolute;
        inset: 0;

        border-radius: 50%;
        background: linear-gradient(90deg, red, blue); // * default gradient | for debug

        transform-origin: center center;
        animation: bubble__inner-el__rotation-effect var(--bubble__animation-time) linear infinite;

        pointer-events: none;
        user-select: none;
    }

    &:nth-child(odd) {
        --bubble__clockwise-rotation: -1;

        &::before {
            background: linear-gradient(
                135deg,
                var(--color__decorative-element__background--gradient-step-1) 0%,
                var(--color__decorative-element__background--gradient-step-1) 30%,
                var(--color__decorative-element__background--gradient-step-2) 100%
            );
        }
    }

    &:nth-child(even) {
        // --bubble__clockwise-rotation: 1;

        &::before {
            background: linear-gradient(
                135deg,
                var(--color__decorative-element__background--gradient-step-2) 0%,
                var(--color__decorative-element__background--gradient-step-1) 70%,
                var(--color__decorative-element__background--gradient-step-1) 100%
            );
        }
    }

    &:nth-child(1) {
        --bubble__pos-x: -77%;
        --bubble__pos-y: 1%;

        --bubble__scale-factor: 1.5;

        transform: translateX(var(--bubble__pos-x));
        width: 2600px;

        @include bs.media-breakpoint-down(xxl) {
            width: 2200px;
        }

        @include bs.media-breakpoint-down(xl) {
            --bubble__pos-x: -81%;
            --bubble__pos-y: 5%;

            width: 1500px;
            --bubble__scale-factor: 2;
        }

        @include bs.media-breakpoint-down(lg) {
            --bubble__pos-x: -87%;
            --bubble__pos-y: 5%;

            --bubble__scale-factor: 1.7;
            width: mixin.fluid-with-range(1300px, 1500px, md, lg);
        }

        @include bs.media-breakpoint-down(md) {
            --bubble__pos-x: -89%;
            --bubble__pos-y: 5.5%;

            --bubble__scale-factor: 2.7;
            width: 775px;
        }

        @include bs.media-breakpoint-down(sm) {
            --bubble__pos-x: -89%;
            --bubble__pos-y: 6%;

            --bubble__scale-factor: 2.8;
            width: 600px;
        }

        @include bs.media-breakpoint-down(xs) {
            // --bubble__pos-x: calc(-76% + #{mixin.fluid-with-range(-150px, 0px, xxs, xs)});
            --bubble__pos-y: 7.5%;

            // --bubble__scale-factor: 1.55;
            // width: mixin.fluid-with-range(1600px, 1200px, xxs, xs);
        }
    }

    &:nth-child(2) {
        --bubble__pos-x: -17%;
        --bubble__pos-y: 31%;

        --bubble__scale-factor: 0.4;

        transform: translateX(var(--bubble__pos-x));
        width: 1800px;

        animation-delay: calc(var(--bubble__animation-time) / -2);

        @include bs.media-breakpoint-down(xxl) {
            --bubble__scale-factor: 0.6;
        }

        @include bs.media-breakpoint-down(xl) {
            // --bubble__pos-x: -17%;
            --bubble__pos-y: 31.5%;
        }

        @include bs.media-breakpoint-down(lg) {
            --bubble__pos-x: -88%;
            --bubble__pos-y: calc(69.25% - #{mixin.fluid-with-range(30px, 0px, md, lg)});

            --bubble__scale-factor: 1.7;
            width: 1800px;
        }

        @include bs.media-breakpoint-down(md) {
            --bubble__pos-x: -21.25%;
            --bubble__pos-y: 23.75%;

            --bubble__scale-factor: 0.65;
            width: 1200px;
        }

        @include bs.media-breakpoint-down(sm) {
            --bubble__pos-x: calc(-20% - #{mixin.fluid-with-range(45px, 0px, xs, sm)});
            --bubble__pos-y: calc(21.5% + #{mixin.fluid-with-range(35px, 0px, xs, sm)});

            --bubble__scale-factor: 0.4;
            width: 1400px;
        }

        @include bs.media-breakpoint-down(xs) {
            --bubble__pos-x: calc(-22% - #{mixin.fluid-with-range(60px, 0px, xxs, xs)});
            --bubble__pos-y: calc(22.75% - #{mixin.fluid-with-range(45px, 0px, xxs, xs)});

            // --bubble__scale-factor: 0.55;
            width: mixin.fluid-with-range(1700px, 1400px, xxs, xs);
        }
    }

    &:nth-child(3) {
        --bubble__pos-x: -71%;
        --bubble__pos-y: 58%;

        --bubble__scale-factor: 1.55;

        transform: translateX(var(--bubble__pos-x));
        width: 4000px;

        @include bs.media-breakpoint-down(xxl) {
            --bubble__scale-factor: 1.4;
            width: 3400px;
        }

        @include bs.media-breakpoint-down(xl) {
            --bubble__pos-x: -78%;
            --bubble__pos-y: 65%;

            --bubble__scale-factor: 2;
            width: 2000px;
        }

        @include bs.media-breakpoint-down(lg) {
            display: none;
        }

        @include bs.media-breakpoint-down(md) {
            display: block;

            --bubble__pos-x: -89%;
            --bubble__pos-y: 70.65%;

            --bubble__scale-factor: 1.9;
            width: 1600px;
        }

        @include bs.media-breakpoint-down(sm) {
            --bubble__pos-x: calc(-86% + #{mixin.fluid-with-range(-175px, 0px, xs, sm)});
            --bubble__pos-y: calc(80.25% + #{mixin.fluid-with-range(75px, 0px, xs, sm)});

            --bubble__scale-factor: 3.1;
            width: 650px;
        }

        @include bs.media-breakpoint-down(xs) {
            --bubble__pos-y: calc(80.25% + #{mixin.fluid-with-range(175px, 0px, xxs, xs)});
            // --bubble__pos-x: calc(-86% + #{mixin.fluid-with-range(-125px, 0px, xs, sm)});
            // --bubble__pos-y: calc(74% + #{mixin.fluid-with-range(35px, 0px, xs, sm)});

            // --bubble__scale-factor: 1.52;
            // width: 1600px;
        }
    }

    // // ! enables in 'lg' and lower
    // &:nth-child(4) {
    //     display: none;

    //     --bubble__pos-x: -27%;
    //     --bubble__pos-y: 80%;

    //     --bubble__scale-factor: 0.9;

    //     transform: translateX(var(--bubble__pos-x));
    //     width: 1300px;

    //     @include bs.media-breakpoint-down(lg) {
    //         // display: block;
    //     }

    //     @include bs.media-breakpoint-down(md) {
    //         --bubble__pos-y: 56%;
    //         width: 1100px;
    //     }

    //     @include bs.media-breakpoint-down(sm) {
    //         --bubble__pos-x: -21%;
    //         --bubble__pos-y: 46%;

    //         --bubble__scale-factor: 1.13;

    //         width: 1000px;
    //     }
    // }

    // // ! enables in 'md' and lower
    // &:nth-child(5) {
    //     display: none !important;

    //     --bubble__pos-x: -97%;
    //     --bubble__pos-y: 73%;

    //     --bubble__scale-factor: 1.23;

    //     transform: translateX(var(--bubble__pos-x));
    //     width: 500px;

    //     @include bs.media-breakpoint-down(md) {
    //         display: block;
    //     }

    //     @include bs.media-breakpoint-down(sm) {
    //         --bubble__pos-y: 64%;
    //         width: 570px;
    //     }

    //     @include bs.media-breakpoint-down(xs) {
    //         --bubble__pos-x: -83%;
    //         --bubble__pos-y: 63.5%;
    //     }
    // }

    // // ! enables in 'md' and lower
    // &:nth-child(6) {
    //     display: none !important;

    //     --bubble__pos-x: -17%;
    //     --bubble__pos-y: 84%;

    //     --bubble__scale-factor: 1.4;

    //     transform: translateX(var(--bubble__pos-x));
    //     width: 980px;

    //     @include bs.media-breakpoint-down(md) {
    //         display: block;
    //     }

    //     @include bs.media-breakpoint-down(sm) {
    //         --bubble__pos-x: -24%;
    //         --bubble__pos-y: 78%;

    //         --bubble__scale-factor: 1.6;

    //         width: 740px;
    //     }
    // }

    // // ! enables in 'sm' and lower
    // &:nth-child(7) {
    //     display: none !important;

    //     --bubble__pos-x: -79%;
    //     --bubble__pos-y: 91%;

    //     --bubble__scale-factor: 0.555;

    //     transform: translateX(var(--bubble__pos-x));
    //     width: 777px;

    //     @include bs.media-breakpoint-down(sm) {
    //         display: block;
    //     }
    // }

    // ! --- STATE MODIFIER | ACHTUNG !!! | START
    // ! ----------------------------------------
    &--is-paused {
        will-change: auto !important;
        animation-play-state: paused !important;

        &::before {
            will-change: auto !important;
            animation-play-state: paused !important;
        }
    }
    // ! --- STATE MODIFIER | ACHTUNG !!! | END
    // ! --------------------------------------
}
