<header id="header" class="my-header">
    <div class="my-header__fixed-part">
        <div class="container my-wrapper">
            <nav class="my-navigation" aria-label="{{ header.navigation.a11y.aria_label.main }}">
                <a
                    class="my-navigation__my-logo my-logo"
                    href="{{- '#back-to-top' if current_page__page_name == 'index' else '@page/index.njk' -}}"
                    aria-label="{{ common.logo.a11y__aria_label }}">
                    <svg class="my-logo__svg" width="80" height="80" aria-hidden="true">
                        <use href="@icons/logo/logo.svg"></use>
                    </svg>
                    <div class="my-logo__company-name-and-motto-container">
                        <span class="my-logo__company-name">{{ common.logo.company_name }}</span>
                        <span class="my-logo__motto">{{ common.logo.motto }}</span>
                    </div>
                </a>

                <div class="my-navigation__my-nav-control my-nav-control">
                    <div class="d-none d-md-flex my-nav-control__cs-group">
                        <div class="my-nav-control__contacts">
                            <div class="my-navigation-button">
                                <a
                                    class="my-navigation-button__link"
                                    href="{{ common.href.phone }}"
                                    aria-label="{{ header.navigation.a11y.buttons__aria_labels.phone }}">
                                    <svg class="my-navigation-button__svg" width="16" height="16" aria-hidden="true">
                                        <use href="@icons/contact/phone.svg"></use>
                                    </svg>
                                </a>
                            </div>
                            <div class="my-navigation-button">
                                <a
                                    class="my-navigation-button__link"
                                    href="{{ common.href.email }}"
                                    aria-label="{{ header.navigation.a11y.buttons__aria_labels.email }}">
                                    <svg class="my-navigation-button__svg" width="16" height="16" aria-hidden="true">
                                        <use href="@icons/contact/email.svg"></use>
                                    </svg>
                                </a>
                            </div>
                            <div class="my-navigation-button">
                                <a
                                    class="my-navigation-button__link"
                                    href="{{ common.href.telegram }}"
                                    aria-label="{{ header.navigation.a11y.buttons__aria_labels.telegram }}"
                                    target="_blank">
                                    <svg class="my-navigation-button__svg" width="16" height="16" aria-hidden="true">
                                        <use href="@icons/contact/telegram.svg"></use>
                                    </svg>
                                </a>
                            </div>
                            <div class="my-navigation-button">
                                <a
                                    class="my-navigation-button__link"
                                    href="{{ common.href.whatsapp }}"
                                    aria-label="{{ header.navigation.a11y.buttons__aria_labels.whatsapp }}"
                                    target="_blank">
                                    <svg class="my-navigation-button__svg" width="16" height="16" aria-hidden="true">
                                        <use href="@icons/contact/whatsapp.svg"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>

                        <hr id="My-Small-Navigation-Separator" class="my-separator my-separator--vertical-small" />

                        <div class="my-nav-control__settings">
                            <button
                                id="My-Toggle-Color-Scheme-Button"
                                class="my-navigation-button"
                                type="button"
                                aria-label="{{ header.navigation.a11y.buttons__aria_labels.toggle_color_scheme }}">
                                <svg id="My-Sun-Svg-Icon" class="my-navigation-button__svg" width="16" height="16" aria-hidden="true">
                                    <use href="@icons/theme/sun.svg"></use>
                                </svg>
                                <svg id="My-Moon-Svg-Icon" class="my-navigation-button__svg" width="16" height="16" aria-hidden="true">
                                    <use href="@icons/theme/moon.svg"></use>
                                </svg>
                            </button>

                            <button
                                id="My-Reset-Color-Scheme-Button"
                                class="my-navigation-button"
                                type="button"
                                aria-label="{{ header.navigation.a11y.buttons__aria_labels.reset_color_scheme }}">
                                <svg class="my-navigation-button__svg" width="16" height="16" aria-hidden="true">
                                    <use href="@icons/theme/system.svg"></use>
                                </svg>
                            </button>
                        </div>
                    </div>

                    <hr class="d-none d-md-inline-block my-separator my-separator--vertical" />

                    <button
                        id="My-Hamburger-Menu-Button"
                        class="my-nav-control__hamburger-button my-hamburger-button"
                        type="button"
                        data-bs-toggle="offcanvas"
                        data-bs-target="#nav-offcanvas"
                        aria-controls="nav-offcanvas"
                        aria-label="{{ header.navigation.a11y.buttons__aria_labels.hamburger }}"
                        aria-expanded="false">
                        <svg class="my-hamburger-button__svg" fill="var(--primary-color)" viewBox="0 0 100 100" aria-hidden="true">
                            <g class="my-hamburger-button__top-line-wrapper">
                                <rect class="my-hamburger-button__top-line" width="90" height="10" x="5" y="22" rx="5"></rect>
                            </g>
                            <g class="my-hamburger-button__middle-line-wrapper">
                                <rect class="my-hamburger-button__middle-line" width="90" height="10" x="5" y="45" rx="5"></rect>
                            </g>
                            <g class="my-hamburger-button__bottom-line-wrapper">
                                <rect class="my-hamburger-button__bottom-line" width="90" height="10" x="5" y="68" rx="5"></rect>
                            </g>
                        </svg>
                    </button>

                    <noscript class="my-hamburger-button-noscript-wrapper">
                        <a
                            id="#nav-offcanvas-open-button"
                            href="#nav-offcanvas"
                            class="my-nav-control__hamburger-button my-hamburger-button my-hamburger-button--noscript-open"
                            role="button"
                            aria-label="{{ header.navigation.a11y.buttons__aria_labels.hamburger }}"
                            tabindex="0">
                            <svg class="my-hamburger-button__svg" fill="var(--primary-color)" viewBox="0 0 100 100" aria-hidden="true">
                                <g class="my-hamburger-button__top-line-wrapper">
                                    <rect class="my-hamburger-button__top-line" width="90" height="10" x="5" y="22" rx="5"></rect>
                                </g>
                                <g class="my-hamburger-button__middle-line-wrapper">
                                    <rect class="my-hamburger-button__middle-line" width="90" height="10" x="5" y="45" rx="5"></rect>
                                </g>
                                <g class="my-hamburger-button__bottom-line-wrapper">
                                    <rect class="my-hamburger-button__bottom-line" width="90" height="10" x="5" y="68" rx="5"></rect>
                                </g>
                            </svg>
                        </a>
                        <a
                            id="#nav-offcanvas-close-button"
                            href="#nav-offcanvas-close-button"
                            class="my-nav-control__hamburger-button my-hamburger-button my-hamburger-button--noscript-close"
                            role="button"
                            aria-label="{{ header.navigation.a11y.buttons__aria_labels.hamburger }}"
                            tabindex="0">
                            <svg class="my-hamburger-button__svg" fill="var(--primary-color)" viewBox="0 0 100 100" aria-hidden="true">
                                <g class="my-hamburger-button__top-line-wrapper">
                                    <rect class="my-hamburger-button__top-line" width="90" height="10" x="5" y="22" rx="5"></rect>
                                </g>
                                <g class="my-hamburger-button__middle-line-wrapper">
                                    <rect class="my-hamburger-button__middle-line" width="90" height="10" x="5" y="45" rx="5"></rect>
                                </g>
                                <g class="my-hamburger-button__bottom-line-wrapper">
                                    <rect class="my-hamburger-button__bottom-line" width="90" height="10" x="5" y="68" rx="5"></rect>
                                </g>
                            </svg>
                        </a>
                    </noscript>
                </div>
            </nav>
        </div>
    </div>

    <div class="offcanvas offcanvas-top my-header__hidden-part" data-bs-scroll="true" tabindex="-1" id="nav-offcanvas">
        <div class="offcanvas-body my-offcanvas-body">
            <nav class="h-100 container my-wrapper my-nav-menu__wrapper" aria-label="{{ header.navigation.a11y.aria_label.offcanvas }}">
                <ul class="col-12 my-nav-menu my-nav-menu--header" role="list">
                    {% for id, text in common.navigation.links %}
                        <li class="my-nav-menu__item">
                            <a
                                class="my-nav-menu__link"
                                {% if current_page_name == 'index' %}href="#{{ id | replace('_', '-') }}"{% else %}href="@page/index.njk#{{ id | replace('_', '-') }}"{% endif %}>
                                {{ text }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>

            <div class="col-12 d-flex d-md-none my-nav-control my-nav-control--mobile">
                <div class="container my-wrapper">
                    <hr class="col-12 my-separator" />

                    <div class="col-12 d-flex d-md-none my-nav-control__cs-group my-nav-control__cs-group--mobile">
                        <div
                            class="d-flex d-md-none align-items-center justify-content-center my-nav-control__contacts my-nav-control__contacts--mobile">
                            <div class="my-navigation-button my-navigation-button--mobile">
                                <a
                                    class="my-navigation-button__link"
                                    href="{{ common.href.phone }}"
                                    aria-label="{{ header.navigation.a11y.buttons__aria_labels.phone }}">
                                    <svg class="my-navigation-button__svg" width="16" height="16" aria-hidden="true">
                                        <use href="@icons/contact/phone.svg"></use>
                                    </svg>
                                </a>
                            </div>

                            <div class="my-navigation-button my-navigation-button--mobile">
                                <a
                                    class="my-navigation-button__link"
                                    href="{{ common.href.email }}"
                                    aria-label="{{ header.navigation.a11y.buttons__aria_labels.email }}">
                                    <svg class="my-navigation-button__svg" width="16" height="16" aria-hidden="true">
                                        <use href="@icons/contact/email.svg"></use>
                                    </svg>
                                </a>
                            </div>

                            <div class="my-navigation-button my-navigation-button--mobile">
                                <a
                                    class="my-navigation-button__link"
                                    href="{{ common.href.telegram }}"
                                    aria-label="{{ header.navigation.a11y.buttons__aria_labels.telegram }}"
                                    target="_blank">
                                    <svg class="my-navigation-button__svg" width="16" height="16" aria-hidden="true">
                                        <use href="@icons/contact/telegram.svg"></use>
                                    </svg>
                                </a>
                            </div>

                            <div class="my-navigation-button my-navigation-button--mobile">
                                <a
                                    class="my-navigation-button__link"
                                    href="{{ common.href.whatsapp }}"
                                    aria-label="{{ header.navigation.a11y.buttons__aria_labels.whatsapp }}"
                                    target="_blank">
                                    <svg class="my-navigation-button__svg" width="16" height="16" aria-hidden="true">
                                        <use href="@icons/contact/whatsapp.svg"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div
                            class="d-flex d-md-none align-items-center justify-content-center my-nav-control__settings my-nav-control__settings--mobile">
                            <button
                                class="my-navigation-button my-navigation-button--mobile"
                                type="button"
                                id="My-Toggle-Color-Scheme-Button--Mobile"
                                aria-label="{{ header.navigation.a11y.buttons__aria_labels.toggle_color_scheme }}">
                                <svg
                                    id="My-Sun-Svg-Icon--Mobile"
                                    class="my-navigation-button__svg"
                                    width="16"
                                    height="16"
                                    aria-hidden="true">
                                    <use href="@icons/theme/sun.svg"></use>
                                </svg>
                                <svg
                                    id="My-Moon-Svg-Icon--Mobile"
                                    class="my-navigation-button__svg"
                                    width="16"
                                    height="16"
                                    aria-hidden="true">
                                    <use href="@icons/theme/moon.svg"></use>
                                </svg>
                            </button>

                            <button
                                id="My-Reset-Color-Scheme-Button--Mobile"
                                class="my-navigation-button my-navigation-button--mobile"
                                type="button"
                                aria-label="{{ header.navigation.a11y.buttons__aria_labels.reset_color_scheme }}">
                                <svg class="my-navigation-button__svg" width="16" height="16" aria-hidden="true">
                                    <use href="@icons/theme/system.svg"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
