@use '../../abstracts/mixins' as mixin;

.my-navigation {
    display: flex;
    flex-wrap: nowrap;

    align-items: center;
    justify-content: space-between;

    column-gap: calc(var(--layout__global__spacing) / 2);

    margin: 0;
    padding: 0;

    &__my-logo {
        flex: 0 0 auto;
    }

    &__my-nav-control {
        flex: 0 0 auto;
    }
}
