@use '../../abstracts/mixins' as mixin;
@use '../../abstracts/z_index' as *;

@use '../../vendors/bootstrap' as bs;

.my-nav-control {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: end;

    padding: 0;

    &__cs-group {
        align-items: center;

        &--mobile {
            justify-content: space-between;
            height: calc(var(--layout__header__navigation-bar__control-group__height) - 1px);

            .nojs & {
                justify-content: center;
            }
        }
    }

    &__contacts {
        display: flex;
        flex-flow: row nowrap;

        column-gap: mixin.fluid-with-range(4px, 8px, md, xxl);

        &--mobile {
            column-gap: mixin.fluid-with-range(10px, 14px, xs, md);

            .nojs & {
                column-gap: mixin.fluid-with-range(20px, 28px, xs, md);
            }
        }
    }

    &__settings {
        display: flex;
        flex-flow: row nowrap;

        // column-gap: 8px;
        column-gap: mixin.fluid-with-range(4px, 8px, md, xxl);

        &--mobile {
            column-gap: mixin.fluid-with-range(10px, 14px, xs, md);
        }
    }

    &--mobile {
        z-index: z('higher');
        position: absolute;

        height: var(--layout__header__navigation-bar__control-group__height);

        left: 0;
        right: 0;
        bottom: 0;

        display: flex;
        flex-direction: column;
    }
}
