@use '../../abstracts/variables' as var;
@use '../../abstracts/mixins' as mixin;
@use '../../abstracts/placeholders' as *;

@use '../../vendors/bootstrap' as bs;

.my-table-of-contents {
    margin-bottom: var(--typography__global__title__margin-bottom);

    // * --- DETAILS
    // * -----------
    &__details,
    &__nested-details {
        // ! компенсация overflow для корректного отображения focus state
        margin: -6px;
        padding: 6px;

        // ! interpolate-size: allow-keywords; | REQUIRED
        @supports (interpolate-size: allow-keywords) {
            &::details-content {
                @include mixin.transition-for(block-size, content-visibility);
                transition-behavior: allow-discrete;

                overflow: hidden;

                // ! interpolate-size: allow-keywords; | REQUIRED
                block-size: 0;
            }

            &:open,
            &[open] {
                &::details-content {
                    // ! interpolate-size: allow-keywords; | REQUIRED
                    block-size: auto;
                }
            }
        }
    }

    // * --- SUMMARY
    // * -----------
    &__summary,
    &__nested-summary {
        @include mixin.transition-for(color, transform);
        will-change: transform;

        // ! фикс бага | тайлинг на Firefox
        transform-style: preserve-3d;

        display: flex;
        list-style: none;

        font-size: inherit;
        line-height: inherit;

        align-items: baseline;
        justify-content: flex-start;

        gap: 8px;
        margin-bottom: 0;

        transform-origin: left center;

        svg,
        h3 {
            color: inherit;
        }
    }

    &__summary {
        @include mixin.hover {
            transform: scale(var.$abstract__global__scale--hover);
            color: var(--color__global__text--hover);
        }

        @include mixin.active {
            transform: scale(var.$abstract__global__scale--active);
            color: var(--color__global__text--active);
        }
    }

    &__nested-summary {
        @include mixin.hover {
            transform: scale(var.$abstract__global__scale--hover * 1.025);
            color: var(--color__global__text--hover);
        }

        @include mixin.active {
            transform: scale(var.$abstract__global__scale--active / 1.025);
            color: var(--color__global__text--active);
        }
    }

    // * --- MARKER
    // * ----------
    &__summary::marker,
    &__summary:is(::-webkit-details-marker),
    &__nested-summary::marker,
    &__nested-summary:is(::-webkit-details-marker) {
        display: none;
    }

    // * --- SVG
    // * -------
    &__summary-svg,
    &__nested-summary-svg {
        @include mixin.transition-for(transform, color);

        flex: 0 0 auto;
        font-size: inherit;

        position: relative;
        display: flex;
        aspect-ratio: 1 / 1;

        align-items: center;
        justify-content: center;

        transform-origin: center center;
        // transition: transform ease-in-out 300ms;
    }

    &__summary-svg {
        width: 2em;

        top: 0.5em;
        // transform: translateY(0.5em);

        :open > summary > &,
        [open] > summary > & {
            // transform: translateY(0.5em) rotate(90deg);
            transform: rotate(90deg);
        }
    }

    &__nested-summary-svg {
        width: 1em;

        top: 0.15em;
        // transform: translateY(0.15em);

        :open > summary > &,
        [open] > summary > & {
            // transform: translateY(0.15em) rotate(90deg);
            transform: rotate(90deg);
        }
    }

    // * --- LIST
    // * --------
    &__list {
        padding-left: calc(1 * var(--layout__global__spacing));
        margin-bottom: 0;

        details.my-table-of-contents__details > & {
            padding-top: var(--typography__global__subtitle__margin-bottom);
        }

        details.my-table-of-contents__nested-details > & {
            padding-top: var(--typography__global__base__margin-bottom);
        }
    }

    &__list-item {
        &:not(:last-child) {
            margin-bottom: var(--typography__global__base__margin-bottom);
        }
    }
}
