/**========================================================================
 **                            COOKIES CONSENT BANNER
 *========================================================================**/

#Cookies-Consent-Banner {
    will-change: background-color, box-shadow, right;

    z-index: 2000;
    // color: var(--text-color-87);

    max-width: 700px;

    position: fixed;
    display: none;

    padding: 25px 30px;
    margin: 0 auto;

    background-color: var(--cookie-consent-banner-bc-color);

    border-radius: 0.5rem;
    box-shadow: 0.284rem 0.38rem 0.952rem 0px var(--box-shadow-color);

    // left: 0;
    right: -700px;
    bottom: 2rem;

    transition: right 0.3s ease;

    @include media-breakpoint-down(xxl) {
        max-width: 615px;
        right: -615px;
    }

    @include media-breakpoint-down(lg) {
        padding: 20px 25px;

        max-width: 555px;
        right: -555px;
    }

    @include media-breakpoint-down(md) {
        max-width: 525px;
        right: -525px;
    }

    @include media-breakpoint-down(sm) {
        transition: bottom 0.3s ease;
        will-change: background-color, box-shadow, bottom;

        max-width: 100%;

        left: 1rem;
        right: 1rem;

        bottom: -300px;

        padding: 20px 0px;
    }

    .cookies-consent-header {
        display: flex;
        column-gap: 15px;

        align-items: center;
        justify-content: start;

        i {
            color: var(--primary-color);
            font-size: 60px;

            @include media-breakpoint-down(xxl) {
                font-size: 48px;
            }

            // @include media-breakpoint-down(lg) {
            //     font-size: 52px;
            // }

            @include media-breakpoint-down(md) {
                font-size: 42px;
            }

            @include media-breakpoint-down(sm) {
                font-size: 54px;
            }

            @include media-breakpoint-down(xs) {
                font-size: 50px;
            }
        }

        h2 {
            color: var(--primary-color);

            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 600;
            font-style: normal;

            font-size: 1.5rem;
            letter-spacing: 0.06em;

            text-transform: none;
            font-variant-numeric: lining-nums;
        }

        @include media-breakpoint-down(xxl) {
            column-gap: 12px;
        }

        @include media-breakpoint-down(md) {
            column-gap: 10px;
        }

        // @include media-breakpoint-down(sm) {
        //     column-gap: 10px;
        // }

        @include media-breakpoint-down(xs) {
            column-gap: 8px;
        }
    }

    .cookies-consent-data {
        margin-top: 1rem;

        p {
            font-family: "Montserrat", system-ui;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;

            letter-spacing: 0.06em;

            text-align: left;

            color: var(--text-color-87);
            font-size: 1rem;

            a {
                cursor: pointer;

                color: var(--primary-color);
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .cookies-consent-buttons {
        width: 100%;

        margin-top: 1rem;

        display: flex;

        align-items: center;
        justify-content: space-between;

        // column-gap: 15px;

        .cookie-button {
            font-family: "Montserrat", system-ui;
            font-optical-sizing: auto;
            font-weight: 600;
            font-style: normal;

            letter-spacing: 0.035em;

            font-size: 1rem;

            width: calc(100% / 2 - 8px);

            padding: 15px 0;

            border: none;
            border-radius: 0.25rem;

            color: var(--text-color-alt-87);
            background-color: var(--primary-color);

            cursor: pointer;

            transition: all 0.3s ease;
            will-change: all;

            &:hover {
                color: var(--text-color-alt-100);
                background-color: var(--primary-color--hover);
            }

            &:active {
                color: var(--text-color-alt-100);
                background-color: var(--primary-color--active);
            }

            @include media-breakpoint-down(sm) {
                padding: 12px 0;
                width: calc(100% / 2 - 5px);
            }

            @include media-breakpoint-down(xs) {
                padding: 10px 0;
                width: calc(100% / 2 - 4px);
            }

            // &-accept {
            //     border: none;
            //     border-radius: .25rem;

            //     color: var(--text-color-alt-87);
            //     background-color: var(--primary-color);

            //     &:hover {
            //         color: var(--text-color-alt-100);
            //         background-color: #4527A0;

            //         // font-weight: 600;
            //     }

            //     &:active {
            //         color: var(--text-color-alt-100);
            //         background-color: #311B92;
            //     }
            // }

            // &-decline {
            //     border: solid 1px var(--primary-color);
            //     border-radius: 4px;

            //     color: var(--primary-color);
            //     background-color: transparent;

            //     &:hover {
            //         color: #5E35B1;
            //         border-color: #5E35B1;

            //         // font-weight: 600;
            //     }

            //     &:active {
            //         color: #4527A0;
            //         border-color: #4527A0;

            //         padding: 11px 0;
            //         border: solid 5px var(--primary-color);
            //     }
            // }
        }
    }

    &.show {
        display: block;
        right: 2rem;

        @include media-breakpoint-down(sm) {
            right: 1rem;
            bottom: 1rem;
        }
    }

    &.no-transition {
        display: none;

        transition: none !important;
        will-change: none !important;
    }
}
