/**========================================================================
 **                            FOOTER
 *========================================================================**/

footer {
    // background: linear-gradient(-17deg, var(--secondary-color--tone-100) 0%, var(--primary-color--tone-100) 100%);
    // z-index: 0;

    // box-shadow: 0 -10px 12px rgba(0, 0, 0, 0.1);
    // backdrop-filter: blur(24px);

    will-change: box-shadow;

    box-shadow: 0 -0.238rem 0.571rem var(--box-shadow-color);
    backdrop-filter: blur(1.143rem);

    position: relative;
    overflow: clip;

    #footer-bc {
        z-index: -30;

        position: absolute;
        width: 100%;
        height: 100%;

        background: linear-gradient(-17deg, var(--secondary-color--tone-100) 0%, var(--primary-color--tone-100) 100%);
        // background-color: var(--offcanvas-bc-color);
    }

    #bc-square-3 {
        @include transition-all(background-color);
        will-change: background-color, transform;

        // display: none;

        z-index: -10;

        position: absolute;
        width: 20000px;
        height: 120%;

        background-color: var(--footer-decoration-1--color);
        // border-style: none;
        // background-color: red;

        top: 50%;
        left: 50%;

        transform: translate(-48.1%, -30%) rotate(-17deg);

        @keyframes footer_move_anim_1 {
            0% {
                transform: translate(-48.1%, -30%) rotate(-17deg);
            }
            50% {
                transform: translate(-53.1%, -40%) rotate(-27deg);
            }
            100% {
                transform: translate(-48.1%, -30%) rotate(-17deg);
            }
        }

        animation: footer_move_anim_1 90s ease-in-out infinite;

        @media (prefers-reduced-motion: reduce) {
            animation: none !important;
        }

        @include media-breakpoint-down(sm) {
            display: none;
            animation: none;

            width: 100vw;
            height: 40%;
        }
    }

    #bc-square-4 {
        @include transition-all(background-color);
        will-change: background-color, transform;

        // display: none;

        z-index: -20;

        position: absolute;
        width: 20000px;
        height: 180%;

        background-color: var(--footer-decoration-2--color);
        // background-color: #C8E6C91A;
        // background-color: transparent;

        top: 50%;
        left: 50%;

        transform: translate(-48.2%, -50%) rotate(40deg);

        @keyframes footer_move_anim_2 {
            0% {
                transform: translate(-48.2%, -50%) rotate(40deg);
            }
            50% {
                transform: translate(-50%, -30%) rotate(47deg);
            }
            100% {
                transform: translate(-48.2%, -50%) rotate(40deg);
            }
        }

        animation: footer_move_anim_2 90s ease-in-out infinite;

        @media (prefers-reduced-motion: reduce) {
            animation: none !important;
        }

        @include media-breakpoint-down(sm) {
            display: none;
            animation: none;

            width: 100vw;
            height: 40%;
        }
    }

    h3 {
        @include transition-all(color, transform);
        will-change: color, transform;

        margin-bottom: var(--my-text-h3-margin-bottom);

        font-family: "Raleway", sans-serif;
        font-optical-sizing: auto;
        font-weight: var(-my-text-h3-font-weight);
        font-style: normal;

        font-size: var(--my-text-h3-font-size);
        letter-spacing: var(--my-text-h3-letter-spacing);

        line-height: var(--my-text-h3-line-height);

        color: var(--text-color-87);

        transform-origin: center left;

        // @include media-breakpoint-down(lg) {
        //     margin-top: 3.5rem;

        //     font-size: 2.5rem;
        // }

        // @include media-breakpoint-down(sm) {
        //     margin-top: var(--my-footer-child-non-first-margin-top);

        //     // font-size: 1.1rem;

        //     // margin-bottom: 1rem;
        // }
    }

    p,
    li {
        transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
        will-change: color, transform;

        transform-origin: center left;

        a {
            @include transition-all(color);
            will-change: color;

            margin: 0;
            // padding: 0;

            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: var(--my-text-small-paragraph-font-weight);
            font-style: normal;

            font-size: var(--my-text-small-paragraph-font-size);
            letter-spacing: var(--my-text-small-paragraph-letter-spacing);
            text-align: left;

            line-height: var(--my-text-small-paragraph-line-height);

            color: var(--text-color-87);

            text-decoration: none;

            // @include media-breakpoint-down(lg) {
            //     text-align: center;

            //     font-size: 1.5rem;
            // }

            // @include media-breakpoint-down(sm) {
            //     text-align: center;

            //     font-size: .8rem;
            // }
        }

        &:hover {
            transform: scale(1.025);
            color: var(--text-color-100);

            a {
                color: var(--text-color-100);
            }

            @include media-breakpoint-down(sm) {
                transform: none;
            }
        }

        &:active {
            transform: scale(0.975);
            color: var(--primary-color);

            a {
                color: var(--primary-color);
                // font-weight: 500;
            }
        }

        @include media-breakpoint-down(sm) {
            transform-origin: center center;
        }
    }

    .footer-part-1 {
        padding: var(--my-footer-padding-value) 0;

        .logo-and-privacy-policy {
            // padding: auto;

            display: flex;
            flex-direction: column;

            align-items: start;
            justify-content: space-between;

            a {
                display: inline-flex;

                align-items: center;
                justify-content: start;

                padding: 0;
                margin: 0;

                text-decoration: none;

                .logo {
                    @include transition-all(color, transform);
                    will-change: color, transform;

                    font-size: var(--my-footer-logo-size);

                    padding: 0;

                    display: inline-flex;
                    align-items: center;

                    color: var(--text-color-87);
                    fill: var(--text-color-87);

                    text-decoration: none !important;

                    &:hover {
                        color: var(--text-color-100);
                        fill: var(--text-color-100);

                        transform: scale(1.025);

                        @include media-breakpoint-down(sm) {
                            transform: none;
                        }
                    }

                    &:active {
                        color: var(--primary-color);
                        fill: var(--primary-color);

                        transform: scale(0.975);
                    }

                    .logo-icon {
                        @include transition-all(fill, transform);
                        will-change: fill, transform;

                        fill-rule: evenodd;
                        clip-rule: evenodd;

                        fill: inherit;

                        width: 4.5em;
                        height: auto;

                        aspect-ratio: 1 / 1;

                        text-decoration: inherit;
                    }

                    .logo-company-name-and-tagline-container {
                        margin-left: 1em;

                        display: inline-flex;
                        flex-direction: column;

                        text-decoration: inherit;

                        .logo-company-name {
                            font-family: "Russo One", sans-serif;
                            font-optical-sizing: auto;
                            font-weight: 400;
                            font-style: normal;

                            text-align: left;

                            font-size: 1.5em;
                            letter-spacing: 0.35em;

                            line-height: 1.5em;

                            text-decoration: inherit;
                        }

                        // @include media-breakpoint-down(lg) {
                        //     .logo-company-name {
                        //         font-size: 1.75em;
                        //     }
                        // }

                        .logo-tagline {
                            font-family: "Pattaya", sans-serif;
                            font-weight: 400;
                            font-style: normal;

                            text-align: left;

                            font-size: 1em;
                            letter-spacing: 0.55em;

                            line-height: 1.5em;

                            text-decoration: inherit;
                        }

                        // @include media-breakpoint-down(lg) {
                        //     .logo-tagline {
                        //         font-size: 1.25rem;
                        //     }
                        // }
                    }

                    // @include media-breakpoint-down(xxl) {
                    //     font-size: 0.75rem;
                    // }

                    // @include media-breakpoint-down(lg) {
                    //     font-size: 0.5625rem;
                    // }

                    // @include media-breakpoint-down(sm) {
                    //     font-size: 0.27rem;
                    // }
                }
            }

            @include media-breakpoint-down(sm) {
                text-align: center;
                display: block;
            }

            // @include media-breakpoint-down(sm) {

            //     text-align: center;
            //     align-items: center;
            // }
        }

        .footer-navigation {
            margin: 0;

            text-align: left;

            // &:hover {

            //     h3 {
            //         // transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;

            //         transform: scale(1.1);
            //         color: var(--text-color-100);
            //     }
            // }

            ul {
                margin: 0;
                padding: 0;

                li:not(:first-child) {
                    margin-top: var(--my-text-small-paragraph-margin-bottom);
                }
            }

            // @include media-breakpoint-down(lg) {
            //     margin-top: 3.5rem;

            //     text-align: center;
            // }

            @include media-breakpoint-down(sm) {
                // margin-top: 1.5rem;

                text-align: center;
            }
        }

        @include media-breakpoint-down(sm) {
            div:not(:last-child) {
                margin-bottom: var(--my-footer-child-non-first-margin-top);
            }
        }

        // @include media-breakpoint-down(lg) {
        //     padding: 5rem 0;
        // }

        // @include media-breakpoint-down(sm) {
        //     // padding: 1.5rem 0;
        // }
    }

    .rounded-hr {
        @include transition-all(border-color);
        will-change: border-color;

        border: none;
        border-top: 0.0625rem solid var(--text-color-87);
        border-radius: 9999px;

        margin: 0;
    }

    .copyright {
        padding: 1.75rem 0;

        p {
            transform-origin: center right;

            @include media-breakpoint-down(md) {
                transform-origin: center center;
            }
        }

        small {
            @include transition-all(color);
            will-change: color;

            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 300;
            font-style: normal;

            // font-size: 1rem;
            font-size: var(--my-text-small-paragraph-font-size);
            letter-spacing: 0.14em;

            color: var(--text-color-87);

            // @include media-breakpoint-down(lg) {
            //     font-size: 1.5rem;
            // }

            // @include media-breakpoint-down(sm) {
            //     font-size: .8rem;
            // }
        }

        #copyright-info {
            text-align: left;

            // span {
            //     display: inline;
            //     white-space: pre-wrap;
            // }

            @include media-breakpoint-down(md) {
                text-align: center;
                line-height: 1em;
            }
        }

        #copyright-email {
            margin: 0;

            text-align: right;

            // @include media-breakpoint-down(lg) {
            //     margin-top: 1.5rem;

            //     text-align: center;
            // }

            @include media-breakpoint-down(md) {
                margin-top: var(--my-text-paragraph-margin-top);

                text-align: center;
                line-height: 1em;
            }
        }

        // @include media-breakpoint-down(lg) {
        //     padding: 3.5rem 0;
        // }

        // @include media-breakpoint-down(sm) {
        //     padding: 1.5rem 0;
        // }
    }
}
