/* stylelint-disable custom-property-empty-line-before */
@use '../../abstracts/mixins' as mixin;
@use '../../vendors/bootstrap' as bs;

// * --- CSS VARIABLES
// * -----------------
:root {
    --layout__global__border-radius__value: #{mixin.fluid(1.2 * 14px, 1.2 * 20px)}; // ? 1.2em analog via pixel
    --layout__global__squircle-smooth__value: 1;

    // --layout__button__squircle-smooth: 0.6;
    // --layout__button__radius-value: #{mixin.fluid(1.2 * 14px, 1.333 * 20px)};

    --layout__wrapper__padding--horizontal: var(--layout__global__spacing);
    --layout__header__navigation-bar-height: #{mixin.fluid(56px, 96px)};

    @include bs.media-breakpoint-down(md) {
        --layout__header__navigation-bar__control-group__height: #{mixin.fluid(72px, 96px)};
    }
}
