/* stylelint-disable custom-property-empty-line-before */
@use 'sass:color';

@use '../../abstracts/mixins' as mixin;
@use '../../vendors/bootstrap' as bs;

// * --- CSS VARIABLES (PROPERTIES)
// * ------------------------------
@property --color__hero__slogan-text--gradient-step-1 {
    syntax: '<color>';
    inherits: true;
    initial-value: transparent;
}

@property --color__hero__slogan-text--gradient-step-2 {
    syntax: '<color>';
    inherits: true;
    initial-value: transparent;
}

@property --color__hero__slogan-text--gradient-step-3 {
    syntax: '<color>';
    inherits: true;
    initial-value: transparent;
}

@property --color__footer__background--gradient-step-1 {
    syntax: '<color>';
    inherits: true;
    initial-value: transparent;
}

@property --color__footer__background--gradient-step-2 {
    syntax: '<color>';
    inherits: true;
    initial-value: transparent;
}

@property --color__card-img__background--gradient-step-1 {
    syntax: '<color>';
    inherits: true;
    initial-value: transparent;
}

@property --color__card-img__background--gradient-step-2 {
    syntax: '<color>';
    inherits: true;
    initial-value: transparent;
}

@property --color__card-img__background--gradient-step-3 {
    syntax: '<color>';
    inherits: true;
    initial-value: transparent;
}

@property --color__decorative-element__background--gradient-step-1 {
    syntax: '<color>';
    inherits: true;
    initial-value: transparent;
}

@property --color__decorative-element__background--gradient-step-2 {
    syntax: '<color>';
    inherits: true;
    initial-value: transparent;
}

// @property --color__page__background {
//     syntax: '<color>';
//     inherits: true;
//     initial-value: transparent;
// }

// @property --color__page__scrollbar-background {
//     syntax: '<color>';
//     inherits: true;
//     initial-value: transparent;
// }

// * --- PAGE COLORS (+ DARK THEME)
// * ------------------------------
@mixin light-theme-colors {
    // * --- GLOBAL (COMMON) COLORS
    // * --------------------------
    --color__global__primary: #4a148c; // 500
    --color__global__primary--focus: #e65100;
    // --color__global__primary--hover: #4a148c; // 700
    --color__global__primary--hover: #{color.scale(#4a148c, $lightness: -16%)};
    // --color__global__primary--active: #bf360c; // 900
    --color__global__primary--active: #{color.scale(#4a148c, $lightness: -32%)};
    --color__global__primary--disabled: #{color.mix(#4a148c, #fff, $weight: 38%, $method: rgb)};

    --color__global__error: #780000;
    --color__global__error--focus: #e65100;
    --color__global__error--hover: #{color.scale(#780000, $lightness: -8%)};
    --color__global__error--active: #{color.scale(#780000, $lightness: -16%)};
    --color__global__error--disabled: #{color.mix(#fff, #780000, $weight: 38%, $method: rgb)};

    --color__global__shadow: #{color.change(#000, $alpha: 38%)};
    --color__global__fade: #000;

    // ! typography | base
    --color__global__text--solid: #000;
    --color__global__text: #{color.change(#000, $alpha: 87%)};
    --color__global__text--hint: #{color.change(#000, $alpha: 60%)};

    // --color__global__text--focus: #{color.change(#000, $alpha: 87%)};
    --color__global__text--hover: #{color.change(#000, $alpha: 100%)};
    --color__global__text--active: #{color.change(#000, $alpha: 100%)};
    --color__global__text--disabled: #{color.change(#000, $alpha: 38%)};

    --color__global__text--alt--solid: #fff;
    --color__global__text--alt: #{color.change(#fff, $alpha: 87%)};
    --color__global__text--alt--hint: #{color.change(#fff, $alpha: 60%)};

    // --color__global__text--alt--focus: #{color.change(#fff, $alpha: 87%)};
    --color__global__text--alt--hover: #{color.change(#fff, $alpha: 100%)};
    --color__global__text--alt--active: #{color.change(#fff, $alpha: 100%)};
    --color__global__text--alt--disabled: #{color.change(#fff, $alpha: 38%)};

    // ! typography | colored
    --color__global__text--primary--solid: #4a148c;
    --color__global__text--primary: #{color.change(#4a148c, $alpha: 87%)};
    --color__global__text--primary--hint: #{color.change(#4a148c, $alpha: 60%)};

    // --color__global__text--primary--focus: #{color.change(#6200ea, $alpha: 100%)};
    --color__global__text--primary--hover: #{color.scale(#4a148c, $lightness: -16%)};
    --color__global__text--primary--active: #{color.scale(#4a148c, $lightness: -32%)};
    --color__global__text--primary--disabled: #{color.change(#4a148c, $alpha: 38%)};

    --color__global__text--error--solid: #780000;
    --color__global__text--error: #{color.change(#780000, $alpha: 87%)};
    --color__global__text--error--hint: #{color.change(#780000, $alpha: 60%)};

    // --color__global__text--error--focus: #{color.change(#d50020, $alpha: 100%)};
    --color__global__text--error--hover: #{color.scale(#780000, $lightness: -16%)};
    --color__global__text--error--active: #{color.scale(#780000, $lightness: -32%)};
    --color__global__text--error--disabled: #{color.change(#780000, $alpha: 38%)};

    // * --- PAGE DEFAULT COLORS (MAIN COLORS)
    // * -------------------------------------
    // --color__page__background: #{color.mix(#4a148c, #fff, $weight: 8%, $method: rgb)};
    --color__page__background: #fff;

    --color__page__scrollbar-color: #4a148c;
    --color__page__scrollbar-color--hover: #{color.scale(#4a148c, $lightness: -16%)};
    --color__page__scrollbar-color--active: #{color.scale(#4a148c, $lightness: -32%)};

    // * --- HEADER SECTION
    // * ------------------
    --color__header__navigation-bar-background: #fff;
    --color__header__navigation-menu-background: #{color.change(#fff, $alpha: 0.7)};

    // * --- HERO SECTION
    // * ----------------
    --color__hero__background-image-overlay: #{color.change(#000, $alpha: 0.223)};

    --color__hero__slogan-text--gradient-step-1: #00e300;
    --color__hero__slogan-text--gradient-step-2: #e3e300;
    --color__hero__slogan-text--gradient-step-3: #e30000;

    // * --- USAGE SECTION
    // * -----------------
    --color__usage__numeric-list-background: #{color.change(#fff, $alpha: 0.38)};

    // * --- PRICING SECTION
    // * -------------------
    --color__pricing__price-badge-background: #d50000;

    // * --- FEEDBACK FORM SECTION
    // * -------------------------
    --color__feedback-form__field-background: #fff;
    --color__feedback-form__field-background--disabled: #fff;

    // --color__feedback-form__field-autofill-background: #{color.change(#4a148c, $alpha: 14%)};
    // --color__feedback-form__field-autofill-text: #4a148c;

    // * --- FOOTER SECTION
    // * ------------------
    --color__footer__background--gradient-step-1: #{color.change(#ea80fc, $alpha: 100%)};
    --color__footer__background--gradient-step-2: #{color.change(#ffd180, $alpha: 100%)};

    --color__decorative-element__background: #{color.change(#fff, $alpha: 16%)};

    // * --- COOKIE CONSENT BANNER
    // * -------------------------
    --color__cookie-consent-banner__background: #{color.change(#fff, $alpha: 0.7)};

    // * --- CARD IMG
    // * ------------
    --color__card-img__background--gradient-step-1: #00e300;
    --color__card-img__background--gradient-step-2: #e3e300;
    --color__card-img__background--gradient-step-3: #e30000;

    // * --- BALLS GROUP
    // * ---------------
    --color__balls_group__shadow: #{color.change(#000, $alpha: 87%)};

    // * --- OTHER COLORS
    // * ----------------
    --color__decorative-text__color: #{color.mix(#000, #fff, $weight: 16%, $method: rgb)};

    --color__decorative-element__background--gradient-step-1: #{color.change(#ea80fc, $alpha: 87%)};
    --color__decorative-element__background--gradient-step-2: #{color.change(#ffd180, $alpha: 87%)};
}

@mixin dark-theme-colors {
    // * --- GLOBAL (COMMON) COLORS
    // * --------------------------
    --color__global__primary: #ffab91;
    --color__global__primary--focus: #b39ddb;
    --color__global__primary--hover: #{color.scale(#ffab91, $lightness: 16%)};
    --color__global__primary--active: #{color.scale(#ffab91, $lightness: 32%)};
    --color__global__primary--disabled: #{color.mix(
            #ffab91,
            color.mix(#bf360c, #121212, $weight: 8%, $method: rgb),
            $weight: 38%,
            $method: rgb
        )};

    --color__global__error: #ffa1a1;
    --color__global__error--focus: #b39ddb;
    --color__global__error--hover: #{color.scale(#ffa1a1, $lightness: 16%)};
    --color__global__error--active: #{color.scale(#ffa1a1, $lightness: 32%)};
    --color__global__error--disabled: #{color.mix(
            #ffa1a1,
            color.mix(#bf360c, #121212, $weight: 8%, $method: rgb),
            $weight: 38%,
            $method: rgb
        )};

    --color__global__shadow: #{color.change(#000, $alpha: 60%)};
    --color__global__fade: #000;

    // ! typography | base
    --color__global__text--solid: #fff;
    --color__global__text: #{color.change(#fff, $alpha: 87%)};
    --color__global__text--hint: #{color.change(#fff, $alpha: 60%)};

    // --color__global__text--focus: #{color.change(#fff, $alpha: 87%)};
    --color__global__text--hover: #{color.change(#fff, $alpha: 100%)};
    --color__global__text--active: #{color.change(#fff, $alpha: 100%)};
    --color__global__text--disabled: #{color.change(#fff, $alpha: 38%)};

    --color__global__text--alt--solid: #000;
    --color__global__text--alt: #{color.change(#000, $alpha: 87%)};
    --color__global__text--alt--hint: #{color.change(#000, $alpha: 60%)};

    // --color__global__text--alt--focus: #{color.change(#000, $alpha: 87%)};
    --color__global__text--alt--hover: #{color.change(#000, $alpha: 100%)};
    --color__global__text--alt--active: #{color.change(#000, $alpha: 100%)};
    --color__global__text--alt--disabled: #{color.change(#000, $alpha: 38%)};

    // ! typography | colored
    --color__global__text--primary--solid: #ffab91;
    --color__global__text--primary: #{color.change(#ffab91, $alpha: 87%)};
    --color__global__text--primary--hint: #{color.change(#ffab91, $alpha: 60%)};

    // --color__global__text--primary--focus: #{color.change(#6200ea, $alpha: 100%)};
    --color__global__text--primary--hover: #{color.scale(#ffab91, $lightness: 16%)};
    --color__global__text--primary--active: #{color.scale(#ffab91, $lightness: 32%)};
    --color__global__text--primary--disabled: #{color.change(#ffab91, $alpha: 38%)};

    --color__global__text--error--solid: #ffa1a1;
    --color__global__text--error: #{color.change(#ffa1a1, $alpha: 87%)};
    --color__global__text--error--hint: #{color.change(#ffa1a1, $alpha: 60%)};

    // --color__global__text--error--focus: #{color.change(#cf6679, $alpha: 100%)};
    --color__global__text--error--hover: #{color.scale(#ffa1a1, $lightness: 16%)};
    --color__global__text--error--active: #{color.scale(#ffa1a1, $lightness: 32%)};
    --color__global__text--error--disabled: #{color.change(#ffa1a1, $alpha: 38%)};

    // * --- PAGE DEFAULT COLORS (MAIN COLORS)
    // * -------------------------------------
    --color__page__background: #{color.mix(#bf360c, #121212, $weight: 8%, $method: rgb)};

    --color__page__scrollbar-color: #ffab91;
    --color__page__scrollbar-color--hover: #{color.scale(#ffab91, $lightness: 16%)};
    --color__page__scrollbar-color--active: #{color.scale(#ffab91, $lightness: 32%)};

    // * --- HEADER SECTION
    // * ------------------
    --color__header__navigation-bar-background: #{color.mix(
            #bf360c,
            #121212,
            $weight: 8%,
            $method: rgb
        )};
    --color__header__navigation-menu-background: #{color.change(
            color.mix(#bf360c, #121212, $weight: 8%, $method: rgb),
            $alpha: 0.7
        )};

    // * --- HERO SECTION
    // * ----------------
    --color__hero__background-image-overlay: #{color.change(
            color.mix(#bf360c, #000, $weight: 8%, $method: rgb),
            $alpha: 0.777
        )};

    --color__hero__slogan-text--gradient-step-1: #51ff51;
    --color__hero__slogan-text--gradient-step-2: #ffff51;
    --color__hero__slogan-text--gradient-step-3: #ff5151;

    // * --- USAGE SECTION
    // * -----------------
    --color__usage__numeric-list-background: #{color.change(
            color.mix(#bf360c, #121212, $weight: 8%, $method: rgb),
            $alpha: 0.38
        )};

    // * --- PRICING SECTION
    // * -------------------
    --color__pricing__price-badge-background: #ff8a80;

    // * --- FEEDBACK FORM SECTION
    // * -------------------------
    --color__feedback-form__field-background: #{color.mix(
            #bf360c,
            #121212,
            $weight: 8%,
            $method: rgb
        )};
    --color__feedback-form__field-background--disabled: #{color.mix(
            #bf360c,
            #121212,
            $weight: 8%,
            $method: rgb
        )};

    // --color__feedback-form__field-autofill-background: #{color.change(#311b92, $alpha: 14%)};
    // --color__feedback-form__field-autofill-text: #311b92;

    // * --- FOOTER SECTION
    // * ------------------
    --color__footer__background--gradient-step-1: #{color.change(#6200ea, $alpha: 87%)};
    --color__footer__background--gradient-step-2: #{color.change(#dd2c00, $alpha: 87%)};

    --color__decorative-element__background: #{color.change(#000, $alpha: 8%)};

    // * --- COOKIE CONSENT BANNER
    // * -------------------------
    --color__cookie-consent-banner__background: #{color.change(
            color.mix(#bf360c, #121212, $weight: 8%, $method: rgb),
            $alpha: 0.7
        )};

    // * --- CARD IMG
    // * ------------
    --color__card-img__background--gradient-step-1: #51ff51;
    --color__card-img__background--gradient-step-2: #ffff51;
    --color__card-img__background--gradient-step-3: #ff5151;

    // * --- BALLS GROUP
    // * ---------------
    --color__balls_group__shadow: #{color.change(#000, $alpha: 100%)};

    // * --- OTHER COLORS
    // * ----------------
    --color__decorative-text__color: #{color.mix(
            #fff,
            color.mix(#bf360c, #121212, $weight: 8%, $method: rgb),
            $weight: 16%,
            $method: rgb
        )};

    --color__decorative-element__background--gradient-step-1: #{color.change(#6200ea, $alpha: 60%)};
    // --color__decorative-element__background--gradient-step-1: transparent;

    --color__decorative-element__background--gradient-step-2: #{color.change(#dd2c00, $alpha: 60%)};
    // --color__decorative-element__background--gradient-step-2: transparent;
}

// * --- ROOT COMPONENT
// * ------------------
:root {
    // ! --- COMMON TRANSITIONS
    // ! ----------------------
    @include mixin.transition-for(
        --color__hero__slogan-text--gradient-step-1,
        --color__hero__slogan-text--gradient-step-2,
        --color__hero__slogan-text--gradient-step-3,
        --color__footer__background--gradient-step-1,
        --color__footer__background--gradient-step-2,
        --color__card-img__background--gradient-step-1,
        --color__card-img__background--gradient-step-2,
        --color__card-img__background--gradient-step-3,
        --color__decorative-element__background--gradient-step-1,
        --color__decorative-element__background--gradient-step-2,
        scrollbar-color
    );

    // ! --- LIGHT THEME (DEFAULT)
    // ! -------------------------
    @include light-theme-colors;

    &[data-theme='dark'] {
        // ! --- DARK THEME
        // ! --------------
        @include dark-theme-colors;
    }

    &.nojs {
        @media (prefers-color-scheme: dark) {
            // ! --- DARK THEME
            // ! --------------
            @include dark-theme-colors;
        }
    }
}
