@use '../../abstracts/variables' as var;
@use '../../abstracts/mixins' as mixin;
@use '../../abstracts/typography' as *;

@use '../../vendors/bootstrap' as bs;

.my-link {
    @extend %text__link;
    @include mixin.transition-for(color, transform);
    will-change: transform;

    display: inline-block;
    transform-origin: center center;

    @include mixin.hover {
        color: var(--color__global__text--hover);
        text-decoration: none;

        transform: scale(var.$abstract__global__scale--hover * 1.05);
    }

    @include mixin.active {
        color: var(--color__global__text--active);
        text-decoration: none;

        transform: scale(var.$abstract__global__scale--active / 1.05);
    }

    &--small {
        @extend %text__link--small;
    }

    &--copyright {
        @extend %text__link--copyright;
    }

    &--table-of-contents {
        @extend %text__link--table-of-contents;
        transform-origin: left center;

        @include mixin.hover {
            color: var(--color__global__text--hover);
            text-decoration: none;

            transform: scale(var.$abstract__global__scale--hover * 1.025);
        }

        @include mixin.active {
            color: var(--color__global__text--active);
            text-decoration: none;

            transform: scale(var.$abstract__global__scale--active / 1.025);
        }
    }

    &--disable-transform {
        @include mixin.hover {
            transform: none;
        }

        @include mixin.active {
            transform: none;
        }
    }
}
