/* stylelint-disable keyframes-name-pattern */
@use '../../abstracts/mixins' as mixin;
@use '../../abstracts/typography' as *;

@use '../../vendors/bootstrap' as bs;

@keyframes paragraph--hero-slogan__background__running-gradient-effect {
    to {
        background-position: var(--paragraph--hero-slogan__background-size) 0;
    }
}

.my-paragraph {
    @extend %text__paragraph;

    &--hero-slogan {
        @extend %text__paragraph--hero-slogan;
        will-change: background-position;

        --paragraph--hero-slogan__background-size: 200%;
        background-image: linear-gradient(
            90deg,
            var(--color__hero__slogan-text--gradient-step-1) 0%,
            var(--color__hero__slogan-text--gradient-step-2) 25%,
            var(--color__hero__slogan-text--gradient-step-3) 50%,
            var(--color__hero__slogan-text--gradient-step-2) 75%,
            var(--color__hero__slogan-text--gradient-step-1) 100%
        );
        background-position: 0 0;
        background-size: var(--paragraph--hero-slogan__background-size) 100%;

        // ? используем шрифт как маску для background
        background-clip: text;
        color: transparent;

        animation: paragraph--hero-slogan__background__running-gradient-effect 10s linear infinite;
    }

    &--advantage {
        @extend %text__paragraph--advantage;
    }

    &--privacy {
        @extend %text__paragraph--privacy;
    }

    &--in-list {
        @extend %text__paragraph--in-list;
    }

    &--in-table {
        @extend %text__paragraph--in-table;
    }

    &--strong {
        @extend %text__paragraph--strong;
    }

    // ! --- STATE MODIFIER | ACHTUNG | START !!!
    // ! ----------------------------------------
    &--is-paused {
        will-change: auto !important;
        animation-play-state: paused !important;
    }
    // ! --- STATE MODIFIER | ACHTUNG | END !!!
    // ! --------------------------------------
}
