@use '../../abstracts/mixins' as mixin;
@use '../../abstracts/z_index' as *;

@use '../../vendors/bootstrap' as bs;

.my-contact {
    z-index: z('my_contact');
    position: relative;

    // &__content {
    //     // empty
    // }

    &__contact-group {
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;

        // font-size: clamp(18px, 0.0056 * 100vw + 16.2222px, 24px);

        // row-gap: 32px;
        // row-gap: clamp(20px, 0.0167 * 100vw + 14.6667px, 38px);
        // row-gap: 1.75em;
        row-gap: var(--typography__global__title__margin-bottom);
    }
}
