/* stylelint-disable selector-id-pattern */
@use '../../abstracts/placeholders' as *;
@use '../../abstracts/z_index' as *;

@use '../../vendors/bootstrap' as bs;

.my-examples {
    z-index: z('my_examples');
    position: relative;

    &__title {
        grid-area: my-title;
    }

    #My-Example-Subtitle__Pillar {
        grid-area: my-subtitle__pillar;
    }

    #My-Example-Subtitle__Road {
        grid-area: my-subtitle__road;

        @include bs.media-breakpoint-down(xxl) {
            margin-top: var(--typography__global__title__margin-bottom);
        }
    }

    #My-Example-Img-Group__Pillar,
    #My-Example-Img-Group__Road {
        display: flex;
        flex-flow: row nowrap;

        column-gap: inherit;

        @include bs.media-breakpoint-down(sm) {
            width: 100vw;

            margin: -15px calc(-1 * var(--layout__wrapper__padding--horizontal));
            padding: 15px var(--layout__wrapper__padding--horizontal);

            overflow-x: scroll;
            -webkit-overflow-scrolling: touch;

            scrollbar-width: none;
        }
    }

    #My-Example-Img-Group__Pillar {
        grid-area: my-img-group__pillar;
    }

    #My-Example-Img-Group__Road {
        grid-area: my-img-group__road;
    }

    &__content {
        display: grid;
        place-items: center center;

        column-gap: calc(var(--layout__global__spacing) / 2);

        // * default
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            'my-title my-title my-title my-title'
            'my-subtitle__pillar my-subtitle__pillar my-subtitle__road my-subtitle__road'
            'my-img-group__pillar my-img-group__pillar my-img-group__road my-img-group__road';

        @include bs.media-breakpoint-down(md) {
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
                'my-title my-title'
                'my-subtitle__pillar my-subtitle__pillar'
                'my-img-group__pillar my-img-group__pillar'
                'my-subtitle__road my-subtitle__road'
                'my-img-group__road my-img-group__road';
        }

        // @include bs.media-breakpoint-down(sm) {
        //     grid-template-columns: 1fr 1fr;
        //     grid-template-areas:
        //         'my-title my-title'
        //         'my-subtitle__pillar my-subtitle__pillar'
        //         'my-img-group__pillar my-img-group__pillar'
        //         'my-subtitle__road my-subtitle__road'
        //         'my-img-group__road my-img-group__road';
        // }
    }
}
