@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mixin;
@use '../abstracts/typography' as *;
@use '../abstracts/z_index' as *;

@use '../vendors/bootstrap' as bs;

.my-cookie-consent-banner {
    --my-cookie-consent-banner__page-offset: 32px;

    @include mixin.transition-for(transform, background-color, box-shadow);
    will-change: transform;

    z-index: z('cookie_consent');
    position: fixed;

    display: flex;
    flex-direction: column;

    row-gap: var(--layout__global__spacing);

    // 1.4 aspect ratio
    padding: clamp(18px, 0.0024 * 100vw + 16.6019px, 20px)
        clamp(25.2px, 0.0034 * 100vw + 23.2427px, 28px);
    // margin-left: var(--my-cookie-consent-banner__page-offset);

    background-color: var(--color__cookie-consent-banner__background);
    box-shadow: 5px 5px 10px 0 var(--color__global__shadow);
    backdrop-filter: blur(var.$abstract__global__panel-blur);

    border-radius: 24px;

    right: calc(var(--my-cookie-consent-banner__page-offset) + env(safe-area-inset-right, 0px));
    bottom: calc(var(--my-cookie-consent-banner__page-offset) + env(safe-area-inset-bottom, 0px));

    max-width: mixin.fluid-with-range(600px, 800px, md, xxl);
    transform: translateX(calc(100% + 50px));

    &__text-container {
        display: flex;
        flex-direction: column;

        align-items: stretch;
        justify-content: flex-start;
    }

    &__title-svg {
        flex: 0 0 auto;

        color: var(--color__global__text--primary);

        aspect-ratio: 1 / 1;
        width: 3em;
    }

    &__title {
        @extend %text__subtitle--cookie-consent-banner;

        flex: 1 1 auto;
        display: inline-flex;
        flex-flow: row nowrap;

        align-items: center;
        column-gap: calc(var(--layout__global__spacing) / 2);
    }

    &__paragraph {
        @extend %text__paragraph--cookie-consent-banner;
    }

    &__link {
        @extend %text__paragraph--cookie-consent-banner;

        color: var(--color__global__text--primary);
        text-decoration: none;

        cursor: pointer;

        // &:focus {
        //     color: var(--color__global__text--primary--focus);
        //     text-decoration: none;
        // }

        // @include mixin.focus {
        //     // empty
        // }

        @include mixin.hover {
            color: var(--color__global__text--primary--hover);
            text-decoration: underline;
        }

        @include mixin.active {
            color: var(--color__global__text--primary--active);
            text-decoration: underline;
        }

        // &[aria-disabled='true'] {
        //     color: var(--color__global__text--primary--disabled);
        //     text-decoration: none;

        //     cursor: not-allowed;
        // }
    }

    &__buttons-container {
        display: flex;

        align-items: center;
        justify-content: stretch;

        gap: calc(var(--layout__global__spacing) / 2);

        @include bs.media-breakpoint-down(sm) {
            flex-direction: column-reverse;
        }
    }

    &.show {
        transform: translateX(0);

        @include bs.media-breakpoint-down(lg) {
            transform: translateY(0);
        }
    }

    @include bs.media-breakpoint-down(xl) {
        --my-cookie-consent-banner__page-offset: 16px;
    }

    @include bs.media-breakpoint-down(md) {
        left: calc(var(--my-cookie-consent-banner__page-offset) + env(safe-area-inset-left, 0px));
        // margin-left: 0;

        max-width: unset;
        transform: translateY(calc(100% + 50px));
    }

    @include bs.media-breakpoint-down(sm) {
        --my-cookie-consent-banner__page-offset: 0px;

        padding: calc(var(--layout__wrapper__padding--horizontal) / 1.4)
            var(--layout__wrapper__padding--horizontal);
        border-radius: 0;
    }
}
