/* stylelint-disable custom-property-empty-line-before */
/* stylelint-disable keyframes-name-pattern */
@use '../abstracts/mixins' as mixin;
@use '../abstracts/typography' as *;
@use '../abstracts/z_index' as *;

@use '../vendors/bootstrap' as bs;

@property --footer__background__linear-gradient__angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: -17deg;
}

// @keyframes footer__fade-in-out-effect {
//     from {
//         opacity: 0.8;
//     }

//     to {
//         opacity: 0;
//     }
// }

@keyframes footer__background__linear-gradient__wobble-effect {
    from {
        --footer__background__linear-gradient__angle: var(
            --footer__background__linear-gradient__angle__start
        );
    }

    to {
        --footer__background__linear-gradient__angle: var(
            --footer__background__linear-gradient__angle__end
        );
    }
}

@keyframes footer__decorative-square__move-effect {
    from {
        transform: translate(
                var(--animation__translate-x__start),
                var(--animation__translate-y__start)
            )
            rotate(var(--animation__rotate-angle__start));
    }

    to {
        transform: translate(var(--animation__translate-x__end), var(--animation__translate-y__end))
            rotate(var(--animation__rotate-angle__end));
    }
}

.my-footer {
    z-index: z('footer');

    overflow: hidden;
    position: sticky;

    left: 0;
    right: 0;
    bottom: 0;

    // --footer__background__linear-gradient__angle__start: -17deg;
    // --footer__background__linear-gradient__angle__end: 23deg;

    --footer__background__linear-gradient__angle__start: -17deg;
    --footer__background__linear-gradient__angle__end: -47deg;

    background: linear-gradient(
        var(--footer__background__linear-gradient__angle),
        var(--color__footer__background--gradient-step-1) 0%,
        var(--color__footer__background--gradient-step-2) 100%
    );

    animation: footer__background__linear-gradient__wobble-effect 30s ease-in-out infinite alternate;

    // ? fade layer
    &::after {
        @include mixin.transition-for(background-color);

        will-change: opacity;
        content: '';

        position: absolute;
        inset: 0;

        background-color: var(--color__global__fade);
        opacity: var(--footer__fade__opacity, 1);

        pointer-events: none;
        user-select: none;
    }

    &__decorative-square {
        @include mixin.transition-for(background-color);
        will-change: transform;

        // ! фикс бага | тайлинг на Firefox
        transform-style: preserve-3d;

        z-index: z('background');
        position: absolute;

        // ! --- debug color
        background-color: red;

        width: 100px;
        height: 100px;

        top: 50%;
        left: 50%;

        transform-origin: center center;
        transform: translate(
                var(--animation__translate-x__start),
                var(--animation__translate-y__start)
            )
            rotate(var(--animation__rotate-angle__start));
        animation: footer__decorative-square__move-effect 30s ease-in-out infinite alternate;

        pointer-events: none;
        user-select: none;

        &--left,
        &--right {
            width: 200vmax;
            background-color: var(--color__decorative-element__background);
        }

        &--left {
            --animation__rotate-angle__start: 40deg;
            --animation__rotate-angle__end: 47deg;

            --animation__translate-x__start: -51%;
            --animation__translate-x__end: -47.3%;

            --animation__translate-y__start: -50%;
            --animation__translate-y__end: -35%;

            height: mixin.fluid-with-range(433.225px, 1150px, md, xxl);
            // height: 180%;

            @include bs.media-breakpoint-down(lg) {
                --animation__translate-y__start: -45%;
                --animation__translate-y__end: -55%;

                --animation__translate-x__start: -48.3%;
                --animation__translate-x__end: -50%;
            }

            @include bs.media-breakpoint-down(md) {
                --animation__rotate-angle__start: 23deg;
                --animation__rotate-angle__end: 31deg;

                height: mixin.fluid-with-range(593.75px, 656.25px, sm, md);
            }

            @include bs.media-breakpoint-down(sm) {
                --animation__rotate-angle__start: 33deg;
                --animation__rotate-angle__end: 26deg;

                --animation__translate-x__start: -51.3%;
                --animation__translate-x__end: -49.6%;

                --animation__translate-y__start: -50%;
                --animation__translate-y__end: -41.6%;

                height: mixin.fluid-with-range(396px, 593.75px, xs, sm);
            }

            @include bs.media-breakpoint-down(xs) {
                --animation__translate-y__start: -47.5%;
                --animation__translate-y__end: -38.5%;

                height: mixin.fluid-with-range(418px, 396px, xxs, xs);
            }
        }

        &--right {
            --animation__rotate-angle__start: -17deg;
            --animation__rotate-angle__end: -27deg;

            --animation__translate-x__start: -51.5%;
            --animation__translate-x__end: -55.1%;

            --animation__translate-y__start: -35%;
            --animation__translate-y__end: -45%;

            height: mixin.fluid-with-range(325px, 860px, md, xxl);
            // height: 120%;

            @include bs.media-breakpoint-down(xxl) {
                --animation__translate-y__start: -47.5%;
                --animation__translate-y__end: -50%;

                // --animation__translate-x__start: -51.5%;
                --animation__translate-x__end: -50%;
            }

            @include bs.media-breakpoint-down(lg) {
                --animation__translate-y__start: -50%;
                --animation__translate-y__end: -47.5%;
            }

            @include bs.media-breakpoint-down(md) {
                //   --animation__rotate-angle__start: -30deg;
                // --animation__rotate-angle__end: -35deg;

                height: mixin.fluid-with-range(475px, 525px, sm, md);
            }

            @include bs.media-breakpoint-down(sm) {
                --animation__rotate-angle__start: -31deg;
                --animation__rotate-angle__end: -47deg;

                --animation__translate-y__start: -55%;
                --animation__translate-y__end: -60%;

                height: mixin.fluid-with-range(360px, 475px, xs, sm);
            }

            @include bs.media-breakpoint-down(xs) {
                --animation__translate-y__start: -45%;
                --animation__translate-y__end: -60%;

                height: mixin.fluid-with-range(380px, 360px, xxs, xs);
            }
        }
    }

    &__information-container {
        display: grid;
        grid-template:
            'my-footer__logo my-footer__navigation' auto
            'my-footer__legal my-footer__navigation' 1fr / 1fr auto;

        padding: calc(3 * var(--layout__global__spacing)) 0;

        @include bs.media-breakpoint-down(md) {
            grid-template:
                'my-footer__logo' auto
                'my-footer__navigation' auto
                'my-footer__legal' auto / auto;

            justify-content: center;
            row-gap: calc(1.5 * var(--layout__global__spacing));
        }
    }

    &__logo-wrapper {
        grid-area: my-footer__logo;
        align-self: start;

        display: flex;
        justify-content: flex-start;

        @include bs.media-breakpoint-down(md) {
            place-self: auto center;
        }
    }

    &__legal {
        grid-area: my-footer__legal;
        align-self: end;

        @include bs.media-breakpoint-down(md) {
            align-self: auto;

            display: flex;
            flex-direction: column;

            align-items: center;
        }
    }

    &__navigation {
        grid-area: my-footer__navigation;
        justify-self: end;

        @include bs.media-breakpoint-down(md) {
            justify-self: auto;

            display: flex;
            flex-direction: column;

            align-items: center;
        }
    }

    &__copyright-container {
        display: flex;
        flex-flow: row nowrap;

        align-items: center;
        justify-content: space-between;

        padding: calc(1 * var(--layout__global__spacing)) 0;

        @include bs.media-breakpoint-down(lg) {
            flex-direction: column;
            justify-content: center;
        }
    }

    &__copyright-owner-text {
        @extend %text__copyright--owner;
        flex: 0 0 auto;
    }

    &__copyright-developer-text {
        @extend %text__copyright--developer;
        flex: 0 0 auto;
    }

    .nojs &,
    &--relative {
        position: relative;

        &::after {
            display: none;
        }
    }

    @include bs.media-breakpoint-down(md) {
        --footer__background__linear-gradient__angle__start: -23deg;
        --footer__background__linear-gradient__angle__end: 23deg;

        animation-direction: normal;
    }
}

@include bs.media-breakpoint-down(md) {
    @keyframes footer__background__linear-gradient__wobble-effect {
        0% {
            --footer__background__linear-gradient__angle: 0deg;
        }

        25% {
            --footer__background__linear-gradient__angle: var(
                --footer__background__linear-gradient__angle__start
            );
        }

        75% {
            --footer__background__linear-gradient__angle: var(
                --footer__background__linear-gradient__angle__end
            );
        }

        100% {
            --footer__background__linear-gradient__angle: 0deg;
        }
    }
}
