/* stylelint-disable keyframes-name-pattern */
@use '../../abstracts/mixins' as mixin;
@use '../../abstracts/typography' as *;
@use '../../abstracts/z_index' as *;

@use '../../vendors/bootstrap' as bs;

@property --subtitle__advantage-number__gradient-angle {
    syntax: '<angle>';
    initial-value: 180deg;
    inherits: true;
}

@keyframes subtitle__advantage-number__gradient-rotation-effect {
    from {
        --subtitle__advantage-number__gradient-angle: calc(
            var(--subtitle__advantage-number__rotation-spin, 1) * 180deg
        );
    }

    to {
        --subtitle__advantage-number__gradient-angle: calc(
            var(--subtitle__advantage-number__rotation-spin, 1) * 540deg
        );
    }
}

@keyframes subtitle__advantage-number__parallax-move-effect {
    from {
        transform: translateY(var(--slide-start));
    }

    to {
        transform: translateY(var(--slide-end));
    }
}

.my-subtitle {
    @extend %text__subtitle;

    &__important-text {
        @extend %text__subtitle__strong;
    }

    &--examples {
        @extend %text__subtitle--examples;
    }

    &--advantage {
        @extend %text__subtitle--advantage;

        display: grid;
        grid-template-columns: min-content min-content;

        align-items: center;
        column-gap: calc(var(--layout__global__spacing));

        // ? компенсация отступов символов самого шрифта
        $digit-offsets: (
            1: -0.09em,
            4: 0.035em,
        );

        @each $digit, $offset in $digit-offsets {
            .my-advantages__advantage:nth-child(#{$digit}) &::before {
                margin-right: $offset;
            }
        }

        // ? меняем спин анимации вращения градиента у нечётных advantage
        .my-advantages__advantage:nth-child(odd) &::before {
            --subtitle__advantage-number__rotation-spin: -1;
        }

        &::before {
            @extend %text__subtitle--advantage__before;
            content: counter(advantage-counter);

            display: block;
            justify-self: end;

            pointer-events: none;
            user-select: none;

            @include bs.media-breakpoint-down(lg) {
                will-change: background-image;

                z-index: z('background');
                position: absolute;

                // ? фикс обрезки верхних краёв цифры из за background-clip
                // line-height: 1;
                text-box-trim: none;

                background-image: linear-gradient(
                    var(--subtitle__advantage-number__gradient-angle, 180deg),
                    var(--color__decorative-element__background--gradient-step-1) 0%,
                    var(--color__decorative-element__background--gradient-step-2) 100%
                );

                // ? используем шрифт как маску для background
                background-clip: text;
                color: transparent;

                animation: subtitle__advantage-number__gradient-rotation-effect 10s linear infinite;

                // ! --- digit vertical position
                // ! ---------------------------
                top: 50%;
                transform: translateY(-50%);

                // ! --- digit horizontal position
                // ! -----------------------------
                left: -2.5%;
                right: unset;

                .my-advantages__advantage:nth-child(even) & {
                    left: unset;
                    right: -2.5%;
                }
            }

            @include bs.media-breakpoint-down(md) {
                // ! --- digit horizontal position
                // ! -----------------------------
                left: -3.5%;
                right: unset;

                .my-advantages__advantage:nth-child(even) & {
                    left: unset;
                    right: -3.5%;
                }
            }

            @include bs.media-breakpoint-down(sm) {
                // ! --- digit horizontal position
                // ! -----------------------------
                left: -22.5%;
                right: unset;

                .my-advantages__advantage:nth-child(even) & {
                    left: unset;
                    right: -22.5%;
                }
            }

            @include bs.media-breakpoint-down(xs) {
                // ! --- digit horizontal position
                // ! -----------------------------
                left: -28.75%;
                right: unset;

                .my-advantages__advantage:nth-child(even) & {
                    left: unset;
                    right: -28.75%;
                }
            }
        }

        @supports (animation-timeline: view()) {
            view-timeline-name: --my-advantage;

            &::before {
                @include bs.media-breakpoint-down(lg) {
                    will-change: transform, background-image;

                    // ? добавлена анимация на скролл
                    animation:
                        subtitle__advantage-number__parallax-move-effect linear both,
                        subtitle__advantage-number__gradient-rotation-effect 30s linear infinite;

                    animation-timeline: --my-advantage, auto;
                    animation-range:
                        cover -50% cover 150%,
                        normal;

                    // ! --- digit vertical position
                    // ! ---------------------------
                    --slide-start: calc(-50% + 25%);
                    --slide-end: calc(-50% - 25%);

                    transform: translateY(var(--slide-start));
                }
            }
        }

        @include bs.media-breakpoint-down(lg) {
            @each $digit, $offset in $digit-offsets {
                .my-advantages__advantage:nth-child(#{$digit}) &::before {
                    margin-right: 0;
                }
            }
        }
    }

    &--privacy {
        @extend %text__subtitle--privacy;
    }

    &--privacy-small {
        @extend %text__subtitle--privacy-small;
    }

    &--table-of-contents {
        @extend %text__subtitle--table-of-contents;
    }

    &--server-response {
        @extend %text__subtitle--server-response;
    }

    // ! --- STATE MODIFIER | ACHTUNG | START !!!
    // ! ----------------------------------------
    &--is-paused {
        &::before {
            will-change: auto !important;
            animation-play-state: paused !important;
        }
    }
    // ! --- STATE MODIFIER | ACHTUNG | END !!!
    // ! --------------------------------------
}
