@use '../../abstracts/variables' as var;
@use '../../abstracts/mixins' as mixin;
@use '../../abstracts/typography' as *;

@use '../../vendors/bootstrap' as bs;

.my-contact-list {
    @extend %list--contact;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    &__header {
        @extend %list--contact__text-header;
    }

    &__item {
        @extend %list--contact__text;
        @include mixin.transition-for(color, transform);
        will-change: transform;

        display: inline-block;

        transform-origin: center center;
        // transition:
        //     color 0.3s ease-in-out,
        //     transform 0.3s ease-in-out;

        // &:focus {
        //     color: var(--color__global__text--focus);
        // }

        @include mixin.hover {
            color: var(--color__global__text--hover);
            transform: scale(var.$abstract__global__scale--hover * 1.05);
        }

        @include mixin.active {
            color: var(--color__global__text--active);
            transform: scale(var.$abstract__global__scale--active / 1.05);
        }
    }

    &__link {
        color: inherit;
        text-decoration: inherit;
    }
}
