/**========================================================================
 **                            HTML DOCUMENT BASE SETTINGS
 *========================================================================**/

html {
    scroll-behavior: smooth;

    // overflow: hidden;
    overflow-x: clip !important;
    // overflow-y: clip !important;
    // overflow-anchor: none;

    margin: 0 auto;

    min-width: 304px;
    width: 100%;

    height: auto;
    min-height: 100vh;

    font-size: var(--base-font-size);
}

.no-scroll {
    // overflow: hidden !important;
    overflow: clip !important;
}

/**========================================================================
 **                            BODY
 *========================================================================**/

body {
    // @include transition-all(background-color, color, fill, opacity);
    // will-change: background-color, color, fill, opacity;

    @include transition-all(background-color, color, fill);
    will-change: background-color, color, fill;

    z-index: -100;

    scroll-behavior: smooth;

    overflow: clip !important;
    overflow-x: clip !important;
    overflow-y: clip !important;
    // overflow-anchor: none;

    margin: 0 auto;
    padding: 0 !important;

    background-color: var(--finally-bc-color);
}
