/* stylelint-disable keyframes-name-pattern */
@use '../../abstracts/z_index' as *;
@use '../../abstracts/mixins' as mixin;

@use '../../vendors/bootstrap' as bs;

@keyframes hero__background-image__parallax-move-effect {
    from {
        transform: translateY(-35%);
    }

    to {
        transform: translateY(35%);
    }
}

.my-hero {
    overflow: clip;
    z-index: z('my_hero');

    position: relative;
    display: flex;

    min-height: 100vh;

    @supports (min-height: 100dvh) {
        min-height: 100dvh;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: mixin.fluid(32px, 120px);
    }

    &__bg-wrapper {
        will-change: transform;

        z-index: z('background');
        position: absolute;

        // ! --- оставляем растяжение даже без параллакса
        // inset: 0;
        inset: -40% 0;

        pointer-events: none;
        user-select: none;

        &::after {
            @include mixin.transition-for(opacity, background-color, box-shadow);

            content: '';
            z-index: 1;

            position: absolute;
            inset: 0;

            // opacity: 0.2;
            // mix-blend-mode: overlay;
            background-color: var(--color__hero__background-image-overlay);

            // transition:
            //     background-color 0.5s ease-out,
            //     opacity 0.5s ease-out;

            // * work
            // [data-bs-theme='dark'] & {
            //     // opacity: 0.8;
            //     mix-blend-mode: multiply;
            // }

            pointer-events: none;
            user-select: none;

            // ! don't work
            // @include bs.color-mode(dark) {
            //     opacity: 1;
            // }
        }

        .nojs & {
            will-change: auto;

            @supports (animation-timeline: view()) {
                will-change: transform;
                inset: -40% 0;

                animation: hero__background-image__parallax-move-effect linear both;
                animation-timeline: --hero-section;
            }
        }
    }

    &__bg-picture {
        z-index: 0;

        position: absolute;
        inset: 0;
    }

    &__bg-img {
        width: 100%;
        height: 100%;

        object-fit: cover;
        object-position: 50% 50%;

        @include bs.media-breakpoint-down(xxl) {
            object-position: 47.5% 50%;
        }

        @include bs.media-breakpoint-down(xl) {
            object-position: 45% 50%;
        }

        @include bs.media-breakpoint-down(lg) {
            object-position: 30% 50%;
        }

        @include bs.media-breakpoint-down(md) {
            object-position: 20% 50%;
        }

        @include bs.media-breakpoint-down(sm) {
            object-position: 22.5% 50%;
        }

        @include bs.media-breakpoint-down(xs) {
            object-position: 25% 50%;
        }
    }

    .nojs & {
        @supports (animation-timeline: view()) {
            view-timeline-name: --hero-section;
        }
    }
}
