{% macro current_page__get_full_url(page_name) -%}
    {# ? определяем главная это страница или нет #}
    {%- set is_home = page_name in ['index', 'home'] -%}

    {# ? если страница главная, то путь в домене к ней пустой, если не главная -> берем название страницы #}
    {%- set page_name_in_url = '' if is_home else page_name -%}

    {# ? определяем язык страницы #}
    {%- set is_default_locale = i18n.currentLocale == i18n.defaultLocale -%}

    {# ? формируем часть домена, если дефолтная локаль -> домен пустой, если нет -> берём языковой префикс #}
    {%- set page__url_lang_prefix = '/' if is_default_locale else '/' + i18n.current.url + '/' -%}

    {# ! собираем итоговый путь страницы #}
    {{- base_website_url + page__url_lang_prefix + page_name_in_url -}}
{%- endmacro %}
