<!-- Built with love by aLeeTheY | https://github.com/aLeeTheY -->

<!--? Django load livereload tags --->
{% if is_django_build %}
    {% raw %}
        {% load livereload_tags %}
    {% endraw %}
{% endif %}

<!--? Django load static & compress --->
{% if is_django_build %}
    {% raw %}
        {% load static %}
        {% load compress %}
    {% endraw %}
{% endif %}

<!doctype html>
<html class="nojs" lang="{{ i18n.current.htmlLang }}">
    {% include "service/head.njk" %}
    <body {% if current_page__page_name == 'index' %}id="back-to-top"{% endif %}>
        <!-- Preload scripts | Moved to <head> --->
        {# {% include "service/scripts__preload.njk" %} #}

        <!-- Cookie consent --->
        {% include "components/cookie_consent.njk" %}

        <!-- Page content START --->
        {% include "common/header.njk" %}
        <main>{% block content %}{% endblock %}</main>
        {% include "common/footer.njk" %}
        <!-- Page content END --->

        <!-- Postload scripts --->
        {% include "service/scripts__postload.njk" %}

        {% if is_django_build %}
            {% raw %}
                {% livereload_script %}
            {% endraw %}
        {% endif %}
    </body>
</html>
