/* stylelint-disable custom-property-empty-line-before */
@use '../../abstracts/variables' as var;
@use '../../abstracts/mixins' as mixin;
@use '../../abstracts/typography' as *;
@use '../../abstracts/z_index' as *;

@use '../../vendors/bootstrap' as bs;

.my-default-button {
    @extend %text__button;
    @include mixin.transition-for(color, transform, background-color);

    will-change: transform;
    backface-visibility: hidden;
    transform-style: preserve-3d; // ! фикс бага | тайлинг на Firefox

    position: relative;
    width: 100%;

    outline: none;
    background: transparent;
    color: var(--color__global__text--alt); // ? icon color

    // ? альтернатива &:is(button)
    @at-root button#{&} {
        padding: 1.025em 0;
    }

    // * все дочерние элементы наверх
    & > * {
        position: relative;
        z-index: 0;
    }

    // * обводка (fallback) для .houdini-squircle-ready
    &::before {
        content: '';

        position: absolute;
        inset: 0;

        background: transparent;
        border-radius: var(--layout__global__border-radius__value);

        @include mixin.focus-styles;

        opacity: 0;
        z-index: -1;

        user-select: none;
        pointer-events: none;
    }

    // * button background (default & squircle)
    &::after {
        content: '';

        position: absolute;
        inset: 0;

        background-color: var(--color__global__primary);
        border-radius: var(--layout__global__border-radius__value);

        z-index: -2;

        user-select: none;
        pointer-events: none;
    }

    // ? если есть фокус на кнопке (<button>) или дочерней ссылке (<a>), ::before делаем видимым
    &:focus-visible::before,
    &:has(:focus-visible)::before {
        opacity: 1;
    }

    .houdini-squircle-ready & {
        &::before {
            border-radius: 0;
            outline-offset: 1px;
        }

        &::after {
            border-radius: 0;

            --squircle-smooth: var(--layout__global__squircle-smooth__value);
            --squircle-radius: var(--layout__global__border-radius__value);

            mask-image: paint(squircle);
        }
    }

    @include mixin.state-with-has('hover', '.my-default-button__link') {
        color: var(--color__global__text--alt--hover);
        transform: scale(var.$abstract__global__scale--hover);

        &::after {
            background-color: var(--color__global__primary--hover);
        }
    }

    @include mixin.state-with-has('active', '.my-default-button__link') {
        color: var(--color__global__text--alt--active);
        transform: scale(var.$abstract__global__scale--active);

        &::after {
            background-color: var(--color__global__primary--active);
        }
    }

    &:disabled,
    &[disabled],
    &:has(.my-default-button__link:disabled),
    &:has(.my-default-button__link[disabled]) {
        color: var(--color__global__text--alt--disabled);
        transform: none;

        &::after {
            background-color: var(--color__global__primary--disabled);
        }

        cursor: not-allowed;
    }

    &__link {
        @extend %text__button__link;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: auto;

        padding: 1.025em 0;
        outline: none;
    }
}
