{% extends "base/base.njk" %}

<!-- ? название текущей страницы в домене --->
{% set current_page__page_name = '404' %}

<!-- ? передаем текстовые данные из файла переовдов *.json для 'head' этой страницы -->
{% set current_page__head_content = page_not_found.head %}

{% block content %}
    <div class="my-shadow-group">
        <section id="page-not-found" class="my-server-response">
            <div class="container my-wrapper my-server-response__content">
                <h1 class="my-title my-title--server-response" data-variant="404">
                    <span>{{ page_not_found.main_content.heading }}</span>
                </h1>

                <h2 class="my-subtitle my-subtitle--server-response">{{ page_not_found.main_content.subheading | nl2br }}</h2>

                <div class="my-default-button">
                    <a class="my-default-button__link" href="@page/index.njk">{{ page_not_found.main_content.button_text }}</a>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
