{% extends "base/base.njk" %}

<!-- ? название текущей страницы в домене --->
{% set current_page__page_name = '404' %}

<!-- ? передаем текстовые данные из файла переовдов *.json для <head> этой страницы -->
{% set current_page__head_content = page_not_found.head %}

{% block content %}
    <div class="my-shadow-group">
        <section id="page-not-found" class="my-server-response">
            <div class="container my-wrapper my-server-response__content">
                <div class="my-balls-group my-balls-group--decorative " data-variant="usage" aria-hidden="true">
                    {%
                        set usage__balls__grid_classes = [
                            "d-lg-inline-block",
                            "d-lg-inline-block",
                            "d-lg-inline-block",
                            "d-xl-inline-block",
                            "d-xl-inline-block"
                        ]
                    %}

                    {% for ball in my_balls %}
                        <img
                            data-my-picture-class="d-none {{ usage__balls__grid_classes[loop.index0] }} my-balls-group__picture my-balls-group__picture--{{ ball }}"
                            class="my-balls-group__img"
                            src="@images/balls/{{ ball }}.png" />
                    {% endfor %}
                </div>

                <h1 class="my-title my-title--server-response" data-variant="404">
                    <span>{{ page_not_found.main_content.heading }}</span>
                </h1>
                <h2 class="my-subtitle my-subtitle--server-response">{{ page_not_found.main_content.subheading | nl2br }}</h2>

                <div class="my-default-button">
                    <a class="my-default-button__link" href="@page/index.njk">{{ page_not_found.main_content.button_text }}</a>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
