/* stylelint-disable keyframes-name-pattern */
@use '../../abstracts/mixins' as mixin;
@use '../../vendors/bootstrap' as bs;

@keyframes button-hamburger__middle-line__shake-effect {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(7deg);
    }

    50% {
        transform: rotate(-7deg);
    }

    75% {
        transform: rotate(7deg);
    }

    100% {
        transform: rotate(-7deg);
    }
}

.my-hamburger-button-noscript-wrapper {
    display: grid;
    grid-template-areas: 1 / 1;
}

.my-hamburger-button {
    @include mixin.transition-for(color);

    height: auto;
    width: mixin.fluid-with-range(28px, 36px, md, xxl);

    color: var(--color__global__text--primary);

    border: 0;
    box-shadow: none;

    @include mixin.hover {
        color: var(--color__global__text--primary--hover);
    }

    @include mixin.active {
        color: var(--color__global__text--primary--active);
    }

    &:disabled,
    &[disabled] {
        color: var(--color__global__text--primary--disabled);
        cursor: not-allowed;
    }

    /* hamburger icon */
    &__svg {
        aspect-ratio: 1 / 1;
        width: 100%;
    }

    // * --- IS OPENED -> IS CLOSED
    // * --------------------------
    &__top-line-wrapper {
        will-change: transform;

        transform-origin: center center;
        transition: transform 400ms cubic-bezier(0.75, -1.5, 0.25, 2.5);
    }

    &__bottom-line-wrapper {
        will-change: transform;

        transform-origin: center center;
        transition: transform 400ms cubic-bezier(0.75, -1.5, 0.25, 2.5);
    }

    &__top-line {
        will-change: transform;
        transform-origin: center center;

        transition: transform 300ms cubic-bezier(0.75, -2.5, 0.25, 3.5);
        transition-delay: 400ms;
    }

    &__bottom-line {
        will-change: transform;
        transform-origin: center center;

        transition: transform 300ms cubic-bezier(0.75, -2.5, 0.25, 3.5);
        transition-delay: 400ms;
    }

    &__middle-line {
        will-change: transform, opacity;
        transform-origin: center center;

        opacity: 1;

        transition: opacity 0s;
        transition-delay: 400ms;
    }

    // * --- IS CLOSED -> IS OPENED
    // * --------------------------
    &[aria-expanded='true'] &__middle-line,
    .nojs .my-header:has(.my-header__hidden-part:target) &__middle-line {
        opacity: 0;

        animation: button-hamburger__middle-line__shake-effect 300ms linear;
        animation-delay: 0ms;

        transition: opacity 0s;
        transition-delay: 600ms;
    }

    &[aria-expanded='true'] &__top-line,
    .nojs .my-header:has(.my-header__hidden-part:target) &__top-line {
        transform: translateY(23px);

        transition: transform 300ms cubic-bezier(0.75, -2.5, 0.25, 3.5);
        transition-delay: 300ms;
    }

    &[aria-expanded='true'] &__bottom-line,
    .nojs .my-header:has(.my-header__hidden-part:target) &__bottom-line {
        transform: translateY(-23px);

        transition: transform 300ms cubic-bezier(0.75, -2.5, 0.25, 3.5);
        transition-delay: 300ms;
    }

    &[aria-expanded='true'] &__top-line-wrapper,
    .nojs .my-header:has(.my-header__hidden-part:target) &__top-line-wrapper {
        transform: rotate(45deg);

        transition: transform 400ms cubic-bezier(0.75, -1.5, 0.25, 2.5);
        transition-delay: 600ms;
    }

    &[aria-expanded='true'] &__bottom-line-wrapper,
    .nojs .my-header:has(.my-header__hidden-part:target) &__bottom-line-wrapper {
        transform: rotate(-45deg);

        transition: transform 400ms cubic-bezier(0.75, -1.5, 0.25, 2.5);
        transition-delay: 600ms;
    }

    &--noscript-open,
    &--noscript-close {
        grid-area: 1 / 1;
    }

    &--noscript-open {
        z-index: 1;
        visibility: visible;

        .my-header:has(.my-header__hidden-part:target) & {
            z-index: 0;
            visibility: hidden;
        }
    }

    &--noscript-close {
        z-index: 0;
        visibility: hidden;

        .my-header:has(.my-header__hidden-part:target) & {
            z-index: 1;
            visibility: visible;
        }
    }

    .nojs & {
        display: none;

        &--noscript-open,
        &--noscript-close {
            display: block;
        }
    }

    @include bs.media-breakpoint-down(md) {
        width: mixin.fluid-with-range(24px, 28px, xs, md);
    }
}
