/* stylelint-disable selector-id-pattern */
@use '../../abstracts/variables' as var;
@use '../../abstracts/mixins' as mixin;
@use '../../vendors/bootstrap' as bs;

.my-navigation-button {
    @include mixin.transition-for(background-color, color);
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1 / 1;
    height: auto;
    width: auto;

    padding: mixin.fluid-with-range(20px, 24px, md, xxl);

    outline: none;
    background: transparent;
    color: var(--color__global__text--alt); // ? icon color

    cursor: pointer;

    // * все дочерние элементы наверх
    & > * {
        position: relative;
        z-index: 0;
    }

    // * обводка (fallback) для .houdini-squircle-ready
    &::before {
        content: '';

        position: absolute;
        inset: 0;

        background: transparent;
        border-radius: calc(var(--layout__global__border-radius__value) / 1.333);

        @include mixin.focus-styles;

        opacity: 0;
        z-index: -1;

        user-select: none;
        pointer-events: none;
    }

    // * button background (default & squircle)
    &::after {
        content: '';

        position: absolute;
        inset: 0;

        background-color: var(--color__global__primary);
        border-radius: calc(var(--layout__global__border-radius__value) / 1.333);

        z-index: -2;

        user-select: none;
        pointer-events: none;
    }

    // ? если есть фокус на кнопке (<button>) или дочерней ссылке (<a>), ::before делаем видимым
    &:focus-visible::before,
    &:has(:focus-visible)::before {
        opacity: 1;
    }

    .houdini-squircle-ready & {
        &::before {
            border-radius: 0;
            outline-offset: 1px;
        }

        &::after {
            border-radius: 0;

            --squircle-smooth: var(--layout__global__squircle-smooth__value);
            --squircle-radius: var(--layout__global__border-radius__value);

            mask-image: paint(squircle);
        }
    }

    @include mixin.state-with-has('hover', '.my-navigation-button__link') {
        color: var(--color__global__text--alt--hover);

        &::after {
            background-color: var(--color__global__primary--hover);
        }

        .my-navigation-button__svg {
            transform: translate(-50%, -50%) scale(var.$abstract__global__scale--hover * 1.075);
        }
    }

    @include mixin.state-with-has('active', '.my-navigation-button__link') {
        color: var(--color__global__text--alt--active);

        &::after {
            background-color: var(--color__global__primary--active);
        }

        .my-navigation-button__svg {
            transform: translate(-50%, -50%) scale(var.$abstract__global__scale--active / 1.075);
        }
    }

    &:disabled,
    &[disabled],
    &:has(.my-navigation-button__link:disabled),
    &:has(.my-navigation-button__link[disabled]) {
        color: var(--color__global__text--alt--disabled);

        .my-navigation-button__svg {
            transform: translate(-50%, -50%);
        }

        &::after {
            background-color: var(--color__global__primary--disabled);
        }

        cursor: not-allowed;
    }

    &__link {
        position: absolute;
        inset: 0;

        color: inherit;
        border-radius: inherit;

        outline: none;
    }

    &__svg {
        @include mixin.transition-for; // ? opacity + transform

        will-change: transform;
        backface-visibility: hidden;
        transform-style: preserve-3d; // ! фикс бага | тайлинг на Firefox

        position: absolute;
        top: 50%;
        left: 50%;

        transform-origin: center center;
        transform: translate(-50%, -50%);

        aspect-ratio: 1 / 1;
        width: mixin.fluid-with-range(20px, 24px, md, xxl);

        @include bs.media-breakpoint-down(md) {
            width: mixin.fluid-with-range(24px, 28px, xs, md);
        }
    }

    &--mobile {
        border-radius: 0;

        .houdini-squircle-ready & {
            border-radius: 0;
            mask-image: none;
        }

        border: none;

        background-color: transparent;
        color: var(--color__global__text); // icon color

        cursor: pointer;

        &::before,
        &::after {
            display: none;
        }

        &:focus-visible,
        &:has(:focus-visible) {
            @include mixin.focus-styles;
        }

        @include mixin.state-with-has('hover', '.my-navigation-button__link') {
            background-color: transparent;
            color: var(--color__global__text--hover);

            .my-navigation-button__svg {
                transform: translate(-50%, -50%) scale(var.$abstract__global__scale--hover * 1.125);
            }
        }

        @include mixin.state-with-has('active', '.my-navigation-button__link') {
            background-color: transparent;
            color: var(--color__global__text--active);

            .my-navigation-button__svg {
                transform: translate(-50%, -50%) scale(var.$abstract__global__scale--active / 1.125);
            }
        }

        &:disabled,
        &[disabled],
        &:has(.my-navigation-button__link:disabled),
        &:has(.my-navigation-button__link[disabled]) {
            background-color: transparent;
            color: var(--color__global__text--disabled);

            cursor: not-allowed;
        }
    }

    .nojs & {
        &#My-Toggle-Color-Scheme-Button,
        &#My-Toggle-Color-Scheme-Button--Mobile,
        &#My-Reset-Color-Scheme-Button,
        &#My-Reset-Color-Scheme-Button--Mobile {
            display: none;
        }
    }

    @include bs.media-breakpoint-down(md) {
        padding: mixin.fluid-with-range(12px, 14px, xs, md);
    }
}
