@use '../../abstracts/variables' as var;
@use '../../abstracts/mixins' as mixin;
@use '../../abstracts/typography' as *;
@use '../../abstracts/z_index' as *;

@use '../../vendors/bootstrap' as bs;

.usage-list {
    list-style: none;
    counter-reset: usage-list-counter;

    &__item {
        @extend %text__paragraph--usage;
        @include mixin.transition-for(color, transform, background-color, backdrop-filter);
        will-change: transform, backdrop-filter;

        counter-increment: usage-list-counter;

        position: relative;
        list-style: inherit;

        background-color: var(--color__usage__numeric-list-background);
        backdrop-filter: blur(var.$abstract__global__card-blur--default);

        padding: 0.666em 1.333em;

        border: 0;

        // border-radius: 1.2em;
        border-radius: var(--layout__global__border-radius__value);

        &::before {
            @extend %text__paragraph--usage__before;
            content: counter(usage-list-counter) '.';

            display: inline-block;
            margin-right: calc(0.5 * var(--layout__global__spacing));

            transform: translateY(2px);
        }

        &::after {
            @include mixin.transition-for(box-shadow);
            content: '';

            z-index: -1;
            position: absolute;
            inset: 0;

            border-radius: inherit;
            box-shadow: 0.1em 0.1em 0.3em var(--color__global__shadow);

            pointer-events: none;
            user-select: none;
        }

        @include mixin.hover {
            transform: scale(var.$abstract__global__scale--hover);
            backdrop-filter: blur(var.$abstract__global__card-blur--hover);

            &::after {
                box-shadow: 0.15em 0.15em 0.4em var(--color__global__shadow);
            }
        }

        @include mixin.active {
            transform: scale(var.$abstract__global__scale--active);
            backdrop-filter: blur(var.$abstract__global__card-blur--active);

            &::after {
                box-shadow: 0.05em 0.05em 0.2em var(--color__global__shadow);
            }
        }

        // для планшетов и смартфонов
        @media (pointer: coarse) {
            @include mixin.active {
                transform: none;
                backdrop-filter: blur(var.$abstract__global__card-blur--default);

                &::after {
                    box-shadow: 0.1em 0.1em 0.3em var(--color__global__shadow);
                }
            }
        }
    }
}
