@use '../../abstracts/typography' as *;
@use '../../abstracts/mixins' as mixin;

@use '../../vendors/bootstrap' as bs;

html {
    @extend %text__base;
    // ? задавать в _themes.scss | :root element
    // @include mixin.transition-for(scrollbar-color);

    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-gutter: stable;

    @supports not selector(::-webkit-scrollbar) {
        scrollbar-width: thin;
        scrollbar-color: var(--color__page__scrollbar-color) var(--color__page__background);
    }

    @supports selector(::-webkit-scrollbar) {
        &::-webkit-scrollbar {
            width: 8px;
        }

        &::-webkit-scrollbar-track {
            background-color: var(--color__page__background);
        }

        &::-webkit-scrollbar-thumb {
            @include mixin.transition-for(background-color);

            background-color: var(--color__page__scrollbar-color);
            border-radius: 4px;

            @include mixin.hover {
                background-color: var(--color__page__scrollbar-color--hover);
            }

            @include mixin.active {
                background-color: var(--color__page__scrollbar-color--active);
            }
        }
    }

    margin: 0 auto;

    width: 100%;
    height: auto;

    // min-width: 320px;
    min-height: 100vh;

    // * get user browser font-size | default - 16px
    font-size: 100%;

    // // prettier-ignore
    // font-size: 16PX;

    // ! гавно подход | непрозрачен | сложно делать адаптив
    // font-size: 125%; // * default | page base font - 20px

    // @include bs.media-breakpoint-down(xl) {
    //     font-size: 112.5%; // * page base font - 18px
    // }

    // @include bs.media-breakpoint-down(md) {
    //     font-size: 100%; // * page base font - 16px
    // }

    // * allows smooth transitions to/from intrinsic sizing keywords like 'auto'
    interpolate-size: allow-keywords;

    // ! затычка при .nojs
    &.nojs {
        @include bs.media-breakpoint-down(md) {
            &:has(.my-header__hidden-part:target) {
                overflow-y: hidden !important;
            }
        }
    }
}
