@use '../../abstracts/z_index' as *;
@use '../../abstracts/mixins' as mixin;

main {
    @include mixin.transition-for(background-color);

    z-index: z('main');

    overflow-x: clip;
    position: relative;

    background-color: var(--color__page__background);
}
