/* stylelint-disable scss/percent-placeholder-pattern */
/* stylelint-disable custom-property-empty-line-before */
/* stylelint-disable scss/dollar-variable-pattern */
@use '../../mixins' as mixin;
@use '../../../vendors/bootstrap' as bs;

@use '../base' as *;

%text__button {
    @extend %text__base;

    font-weight: 600;
    font-size: var(--typography__global__base__form__font-size);

    color: var(--color__global__text--alt);

    letter-spacing: var(--typography__global__base__form__letter-spacing);
    // margin-right: calc(-1 * var(--typography__global__base__form__letter-spacing));

    text-align: center;
}

%text__button__link {
    @extend %text__button;
    text-decoration: none;
}
