/* stylelint-disable scss/percent-placeholder-pattern */
/* stylelint-disable custom-property-empty-line-before */
/* stylelint-disable scss/dollar-variable-pattern */
@use '../../mixins' as mixin;
@use '../../../vendors/bootstrap' as bs;

@use '../base' as *;

// * --- SMALL
// * ---------
%text__small {
    @extend %text__base;

    font-weight: 300;
    font-size: var(--typography__global__small__font-size);

    color: var(--color__global__text);

    letter-spacing: var(--typography__global__small__letter-spacing);
    // margin-right: calc(-1 * var(--typography__global__small__letter-spacing));
    // text-indent: 0;

    text-align: justify;
    hyphens: none;
    // text-wrap-mode: nowrap;

    &:not(:last-child) {
        margin-bottom: var(--typography__global__small__margin-bottom);
    }

    @include bs.media-breakpoint-down(lg) {
        text-wrap-mode: wrap;
    }
}
