#? --- DJANGO SETTINGS
#? -------------------
DJANGO_SETTINGS_MODULE=config.settings.prod
DJANGO_SECRET_KEY=<YOUR_DJANGO_SECRET_KEY__MIN_50_CHARS>
DJANGO_ALLOWED_HOSTS=<YOUR_OFFICIAL_WEBSITE_DOMAIN>

DJANGO_SITE_ID=1
DJANGO_DEBUG=False

DJANGO_CSRF_TRUSTED_ORIGINS=https://<YOUR_OFFICIAL_WEBSITE_DOMAIN>
DATABASE_FIELD_ENCRYPTION_KEY=<YOUR_ENCRYPTION_FERNET_BASE64_KEY>

# ? --- BASIC EMAIL SERVICE DATA
# ? ----------------------------
SENDER_EMAIL=<YOUR_SENDER_EMAIL@DOMAIN.COM>
SENDER_EMAIL_PASSWORD=<YOUR_SENDER_EMAIL_PASSWORD__2FA_APP_PASSWORD>

RECIPIENT_EMAIL=<YOUR_RECIPIENT_EMAIL@DOMAIN.COM>

# ? --- MAILJET HTTP SERVER SETTINGS
# ? --------------------------------
USE_MAILJET_HTTP_SERVER=False

MAILJET_APIKEY_PUBLIC=<YOUR_MAILJET_API_PUBLIC_KEY>
MAILJET_APIKEY_PRIVATE=<YOUR_MAILJET_API_PRIVATE_KEY>

# ? --- DJANGO SMTP SERVER SETTINGS
# ? -------------------------------
USE_DJANGO_SMTP_SERVER=True

EMAIL_HOST=<smtp.gmail.com | OR OTHER SMTP PROVIDER>
EMAIL_PORT=465
EMAIL_USE_SSL=True
EMAIL_USE_TLS=False

#? --- POSTGRES SETTINGS
#? ---------------------
POSTGRES_DB=polimerbeton_db__staging

POSTGRES_USER=<YOUR_DATABASE_USERNAME>
POSTGRES_PASSWORD=<YOUR_DATABASE_PASSWORD__DONT_MATCH_WITH_USERNAME>

POSTGRES_HOST=db
POSTGRES_PORT=5432

#? --- HTTPS/SSL/Let's Encrypt
#? ---------------------------
VIRTUAL_HOST=<YOUR_OFFICIAL_WEBSITE_DOMAIN>
VIRTUAL_PORT=8080

LETSENCRYPT_HOST=<YOUR_OFFICIAL_WEBSITE_DOMAIN>
LETSENCRYPT_EMAIL=<YOUR_ADMIN_EMAIL@DOMAIN.COM>
