#? --- DJANGO SETTINGS
#? -------------------
DJANGO_SETTINGS_MODULE=config.settings.dev
DJANGO_SECRET_KEY=<YOUR_DJANGO_SECRET_KEY__MIN_50_CHARS>
DJANGO_ALLOWED_HOSTS=<localhost,127.0.0.1 | OR OTHER DEV DOMAINs/IPs>

DJANGO_SITE_ID=1
DJANGO_DEBUG=True

# ? --- BASIC EMAIL SERVICE DATA
# ? ----------------------------
SENDER_EMAIL=<YOUR_SENDER_EMAIL@DOMAIN.COM>
SENDER_EMAIL_PASSWORD=<YOUR_SENDER_EMAIL_PASSWORD__2FA_APP_PASSWORD>

RECIPIENT_EMAIL=<YOUR_RECIPIENT_EMAIL@DOMAIN.COM>

# ? --- MAILJET HTTP SERVER SETTINGS
# ? --------------------------------
USE_MAILJET_HTTP_SERVER=False

MAILJET_APIKEY_PUBLIC=<YOUR_MAILJET_API_PUBLIC_KEY>
MAILJET_APIKEY_PRIVATE=<YOUR_MAILJET_API_PRIVATE_KEY>

# ? --- DJANGO SMTP SERVER SETTINGS
# ? -------------------------------
USE_DJANGO_SMTP_SERVER=True

EMAIL_HOST=<smtp.gmail.com | OR OTHER SMTP PROVIDER>
EMAIL_PORT=465
EMAIL_USE_SSL=True
EMAIL_USE_TLS=False

#? --- DJANGO AUTOCREATE SUPERUSER IN DEV MODE (VARIABLES)
#? -------------------------------------------------------
DJANGO_SUPERUSER_EMAIL=<YOUR_ADMIN_EMAIL@DOMAIN.COM>

DJANGO_SUPERUSER_USERNAME=<YOUR_ADMIN_USERNAME>
DJANGO_SUPERUSER_PASSWORD=<YOUR_ADMIN_PASSWORD__DONT_MATCH_WITH_USERNAME>

#? --- POSTGRES SETTINGS
#? ---------------------
POSTGRES_DB=polimerbeton_db__dev

POSTGRES_USER=<YOUR_DATABASE_USERNAME>
POSTGRES_PASSWORD=<YOUR_DATABASE_PASSWORD__DONT_MATCH_WITH_USERNAME>

POSTGRES_HOST=db
POSTGRES_PORT=5432
