/* stylelint-disable scss/dollar-variable-pattern */

// * --- SASS VARIABLES
// * ------------------
$abstract__global__transition-duration: 300ms;
$abstract__global__transition-timing-function: cubic-bezier(0.03, 0.98, 0.52, 0.99);

$abstract__global__scale--hover: 1.025;
$abstract__global__scale--active: 0.975;

$abstract__global__panel-blur: 20px;

$abstract__global__card-blur--default: 10px;
$abstract__global__card-blur--hover: 12px;
$abstract__global__card-blur--active: 8px;
